[2020-10-22 20:42] jonlong opened #2 ""Relationship to Content Type" dropdown throws a 404 when collection names don't match endpoint ids"
I have a collection titled `Blog Posts`, which are accessible at `localhost:1337/blog-posts`. When selecting the Blog Posts collection in the _Relationship to Content Type_ dropdown, the plugin makes a request to `localhost:1337/blog_posts`, which results in a 404:

<img width="519" alt="image" src="https://user-images.githubusercontent.com/482527/96927559-3a860680-1485-11eb-8ffc-14941c326ea0.png"

[2020-10-23 13:58] #2 closed

[2020-10-25 18:51] cyp3rius opened #4 "Possibility to change order of items"
## Expectation
As a creator of navigation I would like to be able to re-order items within a single level of nesting by a single click.

[2020-10-31 16:51] GatsbyGov opened #8 "Feature Request: expose Navigation and NavigationItem content-types as graphQL nodes"
As a developer, I would like Strapi-plugin-navigation to enhance it's compatibility with the Strapi GraphQL plugin and the 'gatsby-source-strapi' plugin for Gatsbyjs.

Configuration of 'gatsby-source-strapi' requires an array of Strapi content-types that Gatsby will use to infer it's GraphQL schema.

However, 'gatsby-source-strapi' is not currently compatible with the content-types managed by 'str

[2020-11-03 20:48] #4 closed

[2020-11-07 21:15] cyp3rius commented on #8
@GatsbyGov after deeper analysis seems that `gatsby-source-strapi` is not supporting strapi plugins and their content types as instead of `${apiURL}/${pluralize(contentType)}` the plugin content types are mostly accessible by `${apiURL}/${pluginName}/${pluginEndpoint}` by plugin exposed methods.

What I would like to manage is:

1. Prepare the `navigation/render` endpoint to deal with GQL or expos

[2020-11-11 03:15] wyamout opened #10 "Api Help with UUID"
When i try to access http://localhost:1337/navigation/render/5fab4fcad350ba4450ee37aa

Im getting
{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}

` error CastError: Cast to ObjectId failed for value "5 at path "_id" for model "navigation"
`
Do i need to edit anything manually for the API to work?

I installed the plugin and added the menu and menu

[2020-11-11 04:43] wyamout commented on #10
Just used slug instead

[2020-11-11 04:43] #10 closed

[2020-11-12 03:21] wyamout opened #13 "UUID Issue"
Our ids are UUID and getting 500 error on UI Navigation, for some reason reading only the first number of the id
[code]

[2020-11-12 14:54] do-web opened #16 "404 not found on navigation menu"
If i access the navigation menu in strapi i got:

GET http://localhost:1337/navigation/config 404 (Not Found)

[2020-11-12 15:19] cyp3rius commented on #16
Hi @do-web, may I ask for some info about strapi version and plugin version you're usign? Screenshot of the console (network) will be also useful to let us investigate the problem.

[2020-11-12 15:36] do-web commented on #16
Old 3.0 beta version sorry.

[2020-11-12 15:36] #16 closed

[2020-11-12 16:22] #13 closed

[2020-11-12 16:26] cyp3rius commented on #13
@wyamout fixed in version `1.0.0-beta.11`

[2020-11-12 16:27] cyp3rius commented on #16
No probs, after update it works I assume? :)

[2020-11-20 15:27] milanffm opened #20 "Related Content doesn't work"
Hey,
thanks for this plugin, I really need such one :-)

**Versions:**
"strapi": "3.3.3"
"strapi-plugin-navigation": "^1.0.0-beta.12"

**I create a github repro:**
[https://github.com/milanffm/strapi-navigation](https://github.com/milanffm/strapi-navigation)

I tried to add a Content Type to the navigationItems:

page-content.settings.json

`{
  "kind": "collectionType",
  "collectionName": "page_

[2020-11-20 20:20] cyp3rius commented on #20
@milanffm as I see you've tried to manage everything via built-in Strapi Content Manager. Content Types delivered via plugin have to be managed by special UI also provided by plugin, otherwise we cannot guarantee data consistency.

You can find it in the left menu "Plugins" -> "UI Navigation".

[2020-11-20 20:20] #20 closed

[2020-12-04 19:15] EAdeveloper opened #22 "How do I use this plugin? What does Audience means?"
Thank you for creating this plugin. I need some help understanding it.
@strapi 🚀
![image](https://user-images.githubusercontent.com/21114220/101204990-164c4680-363b-11eb-8142-381d88561ae5.png)

[2020-12-05 22:32] EAdeveloper commented on #8
![image](https://user-images.githubusercontent.com/21114220/101266729-d3b06a00-371f-11eb-9041-368733889cd1.png)

[2020-12-07 14:52] cyp3rius commented on #22
Hi @EAdeveloper, to manage the navigation structure like `Navigation` & `NavigationItems`, you've to use delivered Plugin UI -> `UI Navigation`. Those Collections are not manageable and should be hidden from Content Manager point of view because of additional constraints and checks delivered by dedicated UI.

There is already a Strapi core PR to handle this: https://github.com/strapi/strapi/pull/6

[2020-12-08 19:45] EAdeveloper commented on #8
Hello @GatsbyGov and @cyp3rius,

I publised a "gatsby source plugin" to fetch and expose the Navigations as graphQL nodes in gatsby.
[gatsby-source-strapi-plugin-navigation](https://www.npmjs.com/package/gatsby-source-strapi-plugin-navigation)

[2020-12-08 21:30] EAdeveloper commented on #22
I understand now, thank you.
I also created a gatsby source plugin to fetch the Navigations since it is not expose by the current gatsby-source-strapi plugin.

[2020-12-08 21:30] #22 closed

[2020-12-09 07:24] cyp3rius commented on #8
@EAdeveloper I'm going to update docs with reference to your Gatsby plugin. If you feel that nav plugin itself might be more lifted to work with GQL, I'll be more than happy if you contribute to it :)

[2020-12-09 20:37] EAdeveloper commented on #8
@cyp3rius Yes, please add it to the docs.
I will continue to add more optimizations and documentation for more configuration options on the gatsby source plugin. I would like to also contribute on the strapi plugin navigation as well, hopefully @strapi will release the next internal API version to build plugins more consistently and compatible with strapi itself.

[2020-12-09 20:40] cyp3rius commented on #8
Looking forward :)

[2020-12-10 07:29] cyp3rius commented on #8
@GatsbyGov @EAdeveloper closing the ticket then.

[2020-12-10 07:29] #8 closed

[2021-01-05 15:24] Norbz opened #23 "Can't register an internal link related to Single type"
Hi there,

First of all, thanks for the work, it's an amazing plugin !

One drawback I see is the inability to create internal link toward a single type.

Typical use case is having a "homepage" single type that contains configuration or content about the homepage of your website. Right now, you can't add a menu item linked to a single type as it cannot list the entities.

A simple workaround woul

[2021-01-05 19:12] cyp3rius commented on #23
Hi @Norbz, thanks for reporting to us.

Your request for support of Single Types sounds reasonable, and we will consider it for next beta release.

[2021-01-06 19:10] WillianRod opened #24 "UI Navigation is not visible"
I just installed `strapi-plugin-navigation` in a project, `Navigation` and `NavigationItems` collection was created, but UI Navigation is not showing up in my sidebar.

![image](https://user-images.githubusercontent.com/6539258/103810141-7b7bc900-5039-11eb-98d8-7a42ae8e51e5.png)

[code]

[2021-01-06 19:24] WillianRod commented on #24
Sorry, forgot to run `yarn build`

[2021-01-06 19:24] #24 closed

[2021-01-10 22:15] stay2be opened #25 "Cannot edit navigation after creating an item and assigning a related entity"
First, let me thank you for this great plugin for strapi. Building navigations is easy and intuitive thanks to this custom UI.

Unfortunatly, I have the following problem: After creating a navigation item in the plugin UI and assigning a related entity ("page" collection type in this case), I cannot edit the navigation afterwards (after saving).

I get the following error:
<img width="839" alt="Sc

[2021-01-11 07:27] cyp3rius commented on #25
@stay2be as I see you've created additional navigation (apart of the main, created by default) for supporting footer. it seems that's the case of error as we didn't consider to support multiple navigations for beta version. Looking to manage it for official public release.

Let us check for when we will be able to deliver that.

[2021-01-11 13:41] cyp3rius commented on #25
@stay2be the cause of the error for multiple navigations has been fixed. Anyway we're not recommend to use it until providing official support :) Ofc you can use it by your own risk.

[2021-01-11 14:20] stay2be commented on #25
@cyp3rius Thanks for providing a new beta version. I've tried it with the new version, but still no luck. I have also deleted the second navigation, so only one is present at the time. I've recorded the following video the share the experience with the errors described in my initial post.

https://user-images.githubusercontent.com/13693611/104193352-4f3cbf80-5420-11eb-9c4c-9a7fdf4e4869.mp4

[2021-01-11 14:38] cyp3rius commented on #25
@stay2be can I ask for providing the json response you received for this navigation GET `navigation/1` endpoint I think. Will try to imitate it on my end as checked for fresh version works well.

[2021-01-11 14:50] stay2be commented on #25
@cyp3rius here's the reponse:

[code]

I tried to debug into your plugin so I have added some `console.log` but this error seems to come from Strapi itself. I have checked the model configuration on my side, but it matches your integration docs (and also the model docs from strapi regarding relations). Installing a fresh verion in node_modules makes no difference.

[2021-01-11 14:59] cyp3rius commented on #25
Looks good, strange thing is happening to this content type. Can I ask you to check if Strapi didn't provide you an extensions to the plugin ? Sometimes it happen, that while doing some changes via Content Builder, Strapi adds overwrites so even after installing a plugin again changed are not taking any effect.

Additional check: yarn.lock version of a package

[2021-01-11 16:24] stay2be commented on #25
Ok, I've wiped my database and had strapi recreate the whole db and now it works. Maybe the schema had errors or was malformed while integrating the plugin. I've tested it with a fresh new strapi install and everything works now.

The other thing i noticed is that you cannot use the Content-Type Builder when the navigation attribute was set on a collection type. While this is not a showstopper, it

[2021-01-11 16:24] #25 closed

[2021-01-11 16:31] cyp3rius commented on #25
Thanks for confirmation @stay2be .

Unfortunately the [Polymorhic relations](https://strapi.io/documentation/developer-docs/latest/concepts/models.html#relations) are not well supported by Strapi Content Builder. They will probably provide it in later releases.

[2021-01-14 10:02] Norbz commented on #23
Great news ! Thanks !

[2021-01-16 14:17] TheManFromEarth1 opened #26 "Content-Type Entity empty"
My setup:

1. Inside /config/server.js, I have included the plugins part with Pages Collection:

`module.exports = ({ env }) => ({
  host: env('HOST', 'localhost'),
  port: env.int('PORT', 1337),
  admin: {
    auth: {
      secret: env('ADMIN_JWT_SECRET', 'xx'),
    },
  },
  plugins: {
      navigation: {
        additionalFields: ['audience'],
        excludedContentTypes: ["plugins::", "strapi

[2021-01-18 10:59] cyp3rius commented on #26
Hi @TheManFromEarth1,

based on documentation the part:

[code]

[2021-01-18 11:00] #26 closed

[2021-01-26 13:48] NooBiToo opened #28 "Cannot read property 'associations' of undefined"
this exits when trying to save a menu item
[code]

[2021-01-26 14:43] cyp3rius commented on #28
Hi @NooBiToo,

Can I ask for if you've provided the relation field properly into the attributes model section?

[2021-01-26 17:05] NooBiToo commented on #28
Plugins:
[code]
Model categories.settings.json
[code]
Strapi: 3.1.7
Plugin: 1.0.0-beta.13

[2021-01-27 07:29] cyp3rius commented on #28
Thanks @NooBiToo, all looks good and probably we know what the issue is. In the on-going PR #27 we've fixed a case with `collectionName` singularization. Should be merged this week.

[2021-01-27 07:33] NooBiToo commented on #28
thank you too @cyp3rius

[2021-02-04 23:40] gdulus opened #29 "Related entity not returned in response"
First of all, thanks for a great plugin, it seems it has everything I need at this moment, but I hit some issue described below.

**ENV**:
StraAPI (official docker image): 3.4.6
MongoDB: 4.4.3

**Problem:**
While calling navigation API

[code]

response is returned without related element:

[code]

Configuration of the Page model

[code]

In GUI i can see that Page relation has been selected but t

[2021-02-05 07:06] cyp3rius commented on #29
Thanks for report @gdulus, we've to test the plugin against `3.4.6` then, as with `3.4.5` all were working as expected.

[2021-02-22 08:29] #29 closed

[2021-02-22 14:43] danestves opened #35 "[strapi-plugin-navigation] - Internal Server Error"
Hi! I'm using Strapi with MongoDB and when i want to save the menu gives me this error:

![image](https://user-images.githubusercontent.com/31737273/108723493-b3ac6d80-74fa-11eb-846c-4bfa2df4c479.png)

[2021-02-22 14:43] danestves commented on #35
And in the console this:

![image](https://user-images.githubusercontent.com/31737273/108723576-cd4db500-74fa-11eb-9fe8-8783c9e402f9.png)

[2021-02-23 08:00] cyp3rius commented on #28
@NooBiToo version `1.0.0-beta.14 ` has been just released. Issue should be solved.

[2021-02-23 08:03] cyp3rius commented on #23
@Norbz  version `1.0.0-beta.14 ` has been just released. Feature has been covered as part of it.

Confirm and close please.

[2021-02-23 08:04] cyp3rius commented on #35
@danestves version `1.0.0-beta.14 ` has been just released. Issue should be solved.

Confirm and close please.

[2021-02-23 16:27] danestves commented on #35
![image](https://user-images.githubusercontent.com/31737273/108874228-5683eb00-75d2-11eb-975b-239ab6599fee.png)

For me the error still persist, i already rebuild all the UI and have a `custom.js` with this:

[code]

[2021-02-23 21:20] cyp3rius commented on #35
@danestves as we've tested this code on the MondoDB and woks as expected I'm assuming that your case might be connected with some missing configuration. Will you be able to provide please your `Page` content type json?

[2021-02-23 21:26] danestves commented on #35
[code]

BTW, i'm using Strapi 3.5.1

[2021-02-23 21:28] cyp3rius commented on #35
Thanks @danestves I will test it against your content type and try to reproduce the issue.

To be sure, you don't have nothing defined in the `extensions/navigation`?

[2021-02-23 23:39] danestves commented on #35
No @cyp3rius i don't have nothing in `extensions/navigations`

[2021-02-24 07:17] cyp3rius commented on #35
Perfect, so trying to reproduce and found the cause.

[2021-02-25 11:28] DmitryZamura commented on #28
Strapi version 3.5.1, strapi-plugin-navigation ^1.0.0-beta.15

The same error TypeError: Cannot read property 'associations' of undefined

[2021-02-25 12:43] cyp3rius commented on #28
Thanks for raising @DmitryZamura, we've indeed identified the case and it's the same as in #35. The fix is on going. Simply there will be a change in usage of collection names.

[2021-02-25 22:08] danestves commented on #35
Hi! How it's going the fix? Sorry for ask to much, it's because we are building a CMS and this feature will be very useful

[2021-02-26 07:06] cyp3rius commented on #35
Most of the work is already done on a branch `fix/uid-instead-of-collection-name`. Couple minor fixes and set of tests remains, as refactor of a whole associations mechanism has changed to be env agnostic.

[2021-03-01 07:53] #28 closed

[2021-03-01 07:53] #35 closed

[2021-03-01 07:58] cyp3rius commented on #35
Ticket auto closed because of fix merge and release `1.0.0-beta.16`. Hope it fixes all the issues @danestves. I was working directly on your content type and official mongoDB docker.

Just let me know if works, in case of on-going issue re-open please.

[2021-03-01 07:58] cyp3rius commented on #28
Ticket auto closed because of fix merge and release `1.0.0-beta.16`. Hope it fixes all the issues @NooBiToo @DmitryZamura .

Just let me know if works, in case of on-going issue re-open please.

[2021-03-01 17:08] danestves commented on #35
Finally it's working as expected to create the menu!

[2021-03-01 17:12] danestves opened #40 "[strapi-plugin-navigation] - Submenu without relation"
![image](https://user-images.githubusercontent.com/31737273/109532412-7b270980-7a8f-11eb-9eef-d14068c69d58.png)

I want to create a submenu and make the first item empty because i only going to use the label, to work like this:

![image](https://user-images.githubusercontent.com/31737273/109532528-972aab00-7a8f-11eb-964d-7b75b4b95813.png)

The label and the submenu items they will have relations o

[2021-03-03 20:52] eugeneingram opened #42 "Clicking 'Save' a second time after adding a new menu item in the UI builder results in an error."
![image](https://user-images.githubusercontent.com/11439060/109870663-4c14c180-7c62-11eb-9a7a-1a711e1c258f.png)

[2021-03-03 20:55] eugeneingram opened #43 "Navigation Items created through the UI builder seem incompatible with the NavigationItem content type editor and vice versa."
![image](https://user-images.githubusercontent.com/11439060/109870921-90a05d00-7c62-11eb-81be-952ba1e5201a.png)

items created directly as a NavigationItem content type error when attempting to edit in the UI builder:

![image](https://user-images.githubusercontent.com/11439060/109871086-b594d000-7c62-11eb-850f-e40123d8ff3e.png)

[2021-03-03 21:02] cyp3rius commented on #43
@eugeneingram that expected because Strapi Content Builder is not supporting custom features required by those models.

We are supporting only issues raised against the Navigation UI created as part of the plugin.

[2021-03-03 21:02] #43 closed

[2021-03-03 21:34] eugeneingram opened #44 "Render API endpoint results in a 500 server error."
Having constructed a simple navigation using the UI builder (2 menu items):

![image](https://user-images.githubusercontent.com/11439060/109875117-ef1c0a00-7c67-11eb-9249-aa353d674d2b.png)

I'm able to view this menu output on the `/navigation/1` API endpoint:

![image](https://user-images.githubusercontent.com/11439060/109875180-04913400-7c68-11eb-9162-a33f9308c7a8.png)

However, attempting to us

[2021-03-03 22:03] eugeneingram commented on #44
If it helps, digging in further I think that the issue is related to my content items being singular content types.  You addressed this requirement as part of issue #23 here: https://github.com/VirtusLab/strapi-plugin-navigation/issues/23

If I make a two item menu with a collection content type it works fine when rendering.

[2021-03-04 07:02] cyp3rius commented on #44
Hi @eugeneingram ,

May I ask you for sharing at least one Single Content Type definition file (you can drop all attributes to not expose any protected value)? Also does those Single Types being part of Draft & Publish flow? If yes, have they being published?

[2021-03-04 09:59] eugeneingram commented on #44
`{
  "kind": "singleType",
  "collectionName": "page_homes",
  "info": {
    "name": "Page Home"
  },
  "options": {
    "increments": true,
    "timestamps": true,
    "draftAndPublish": true
  },
  "attributes": {
    "Subtitle": {
      "type": "string"
    },
    "Title": {
      "type": "string"
    },
    "Summary": {
      "type": "text"
    },
    "Image": {
      "model": "file",
      "v

[2021-03-04 10:03] eugeneingram commented on #44
Hi @cyp3rius

Thanks for coming back on this.  I think you were on to something with the Publish status of the Single content types.  I added them to the navigation whilst they remained on published.  This leads directly to the 500 error if you add even one menu item to a piece of unpublished content.

Strangely.  If I delete all menu items, publish both the single content types and add them to th

[2021-03-04 10:44] cyp3rius commented on #44
Agreed, this thing with unpublished content is currently in development, expecting to be done around the weekend :) Will try to sort out also all issues you raised here.

[2021-03-04 11:10] eugeneingram commented on #44
Wonderful, thanks for your help.  Thanks also for the plugin.  It's very handy!

[2021-03-08 10:32] cyp3rius commented on #40
@danestves in upcoming version `beta.17` there will be ability to create external link to `#anchor`, for relations unfortunately it's against the concept we took so for version `1.0.0` we're not going to cover that. In the future, it's not said we won't :)

[2021-03-08 13:12] cyp3rius commented on #44
@eugeneingram new version that contains fix has been released as `1.0.0-beta.17`. Test an close the ticket please.

[2021-03-08 13:12] cyp3rius commented on #42
@eugeneingram new version that contains fix has been released as `1.0.0-beta.17`. Test an close the ticket please.

[2021-03-08 13:13] cyp3rius commented on #40
@danestves  new version that contains above change has been released as `1.0.0-beta.17`

[2021-03-08 13:14] cyp3rius commented on #23
@Norbz  new version that contains wider support for Single Types has been released as `1.0.0-beta.17`. Test and close the ticket please.

[2021-03-08 13:15] #23 closed

[2021-03-08 16:39] eugeneingram commented on #42
Thanks, 1.0.0-beta.17 fixes the issue.

[2021-03-08 16:39] #42 closed

[2021-03-14 10:38] jfahrni opened #47 "Unable to change the Structure of a Type, after added to Navigation"
After adding the Configuration to use a Type as Relation in the Navigation, i am unable to make any changes in a Type (via Content-Types-Builder).

Steps to Reproduce:

- create new collection type (ex. Pages)
- add the Configuration for using in Navigation in the page.settings.json
[code]

- Go to Content-Type-Builder and to add another Field.
- Save => "an Error Occurred"

Console Output: debug

[2021-03-14 17:57] cyp3rius commented on #47
@jfahrni and unfortunately such behavior is expected. Strapi built-in Content Builder is not supporting such advanced relations like polymorphic (that is the one). After creating a poly field via json schema you have to keep that method of editing.

Maybe in the future Strapi will provide support for advanced relations.

[2021-03-14 17:58] cyp3rius commented on #47
Closing as case can’t be addressed by us as plugin authors. Follow the json schema edit and all will work fine.

[2021-03-14 17:58] #47 closed

[2021-03-16 14:45] JelmerV-WFC opened #50 "Unable to use the same entities in different navigations"
When using the same entities in different navigations the entity relation of the existing navigation item is removed.

First navigation item:
![image](https://user-images.githubusercontent.com/39594925/111328296-67be9580-866e-11eb-8d2e-1c7b169cf490.png)

Second navigation item:
![image](https://user-images.githubusercontent.com/39594925/111328196-51b0d500-866e-11eb-8489-a2bbaa5dcd3a.png)

Is there

[2021-03-16 14:49] cyp3rius commented on #50
Hi @JelmerV-WFC,

That's the case of polymorphic relations, it's overriding the relation like page - item. Those multiple navs we're not supporting from the level of UI yet. That's planned for 1.1 version.

[2021-03-16 14:51] JelmerV-WFC commented on #50
Hi @cyp3rius!
Alright! Do you know if there is a workaround for the time being?

[2021-03-16 15:07] cyp3rius commented on #50
The question if you really want to differ the navigations for footer and header :) What I can guide you is to create the Auditory keys like `header`, `footer` and add relevant ones to the each item of your navigation. Than on the client app or the backend part of it you might filter out the items you're not interested in.

That's not a perfect solution, but a workaround that has helped couple of p

[2021-03-22 14:35] #40 closed

[2021-03-24 11:49] eugeneingram opened #52 "Error saving changes to content types that have been allocated to a navigation menu."
I have a content type 'Page' several items of which are allocated to a navigation menu.

If I attempt edit the 'Page' content type (I want to add a field).  It won't save.  I see this error in the response:

```{"error":{"contentType.attributes.navigation.nature":["must be one of the following values: oneWay, manyWay, oneToOne, oneToMany, manyToOne, manyToMany"]}}```

Are you able to look into thi

[2021-03-24 11:56] cyp3rius commented on #52
Hi @eugeneingram,

Issue you're referring to is a Strapi one, there is lack of support for Polymorphic relations in the Content Type Builder UI. I've answered the same in #47. You've to edit the type relevant json schema. That's not something we're able to solve, until Strapi core team does.

[2021-03-24 17:10] eugeneingram commented on #52
Okay, thank you.  I was able to make the amendment via editing the JSON directly.

[2021-03-24 17:10] #52 closed

[2021-03-27 13:47] WebDev-op commented on #20
And when created with  "Plugins" -> "UI Navigation" -  Related Content doesn't work to

[2021-03-27 16:27] WebDev-op commented on #20
I found a solution to this issue here: https://github.com/VirtusLab/strapi-plugin-navigation#content-type-model-relation-to-navigation-item

To enable Content Type to work with Navigation Item, you've to add following field to your model *.settings.json:
    "navigation": {
      "model": "navigationitem",
      "plugin": "navigation",
      "via": "related",
      "configurable": false,
      "hi

[2021-03-27 16:52] WebDev-op commented on #20
And to be able to edit from navigationitem, it is necessary to disable / remove the "releted field" from the display settings in the "constructor-types": "NavigationItem.

[2021-03-27 17:05] cyp3rius commented on #20
@WebDev-op when you remove „via: related” from the schema it might stop working / updating relations. Such construction follows the strapi docs.

[2021-04-07 19:32] WebDev-op commented on #20
i have disabled from display in navigation-items. With this, I can go in and edit item in items. But all the necessary relationships, I freely edit in the ui navigation section. So far, I have not noticed any problems.

[2021-04-07 19:38] cyp3rius commented on #20
We will make a test then :)

[2021-04-14 16:18] zvekov opened #54 "GraphQL request"
Hello!
This plugin support GraphQL requests?

for example
[code]

[2021-04-22 21:42] kuldeeparora opened #55 "Collection type same name"
Throwing error if we already got a collection-type with the same name "navigation"

here is the error code
[code]

[2021-04-24 11:51] cyp3rius commented on #55
@kuldeeparora we will consider changing the content type identificators to more plugin related. That should avoid conflicts.

[2021-04-26 01:26] davidsielert opened #56 "Doesn't work strapi 3.6.0"
[code]

[2021-04-26 01:38] davidsielert commented on #56
seems like you can change the bootstrap.js action registration to
[code]

[2021-04-26 06:21] cyp3rius commented on #56
Hi @davidsielert ,

New release `1.0.1` provides compatibility with `3.6.0` version of Strapi.

[2021-04-26 06:21] #56 closed

[2021-04-29 03:10] Tiramisupxl opened #58 "how to create a navigation like this"
Hello, I would like to create a navigation like this:
![image](https://user-images.githubusercontent.com/13674347/116497890-fb74ba00-a8da-11eb-99f2-d4f0bb67d271.png)
I just want to link the content or url in dropdown menu, not all navigation item.But the plugin require me to fill the two fields, url and relation to content type.How can I modify them? Thanks so much
![image](https://user-images.git

[2021-04-29 13:38] cyp3rius commented on #58
Hi @Tiramisupxl,

we've taken an assumption that navigation is going to be build based on the existing content types, so each item will contain relation to the content type (and might be nested down) or external link. You've to think about building it more like a site structure.

In your case you've to create a content type that will be related with "Navigation Three - Submenu" item and then add c

[2021-04-29 13:39] cyp3rius commented on #54
Hi @zvekov,

Not yet. We've got it in the backlog.

[2021-05-03 18:24] prKrumm opened #59 "How to create a localized Navigation with strapi 3.6"
Any ideas how this plugin can be used with strapi 3.6 and its new i18n feature?

If I want to associate a localized page with a navigation item I can pick only pages of the default locale.

[2021-05-03 18:44] cyp3rius commented on #59
Good point @prKrumm we have got some ideas but first of all we want to collect your feedback and see which approach is the most accurate :)

Converting to discussion

[2021-05-03 18:44] #59 closed

[2021-05-04 16:59] Tiramisupxl commented on #58
Thank you for your replay. Your answer tells me a lot about the plugin and strapi.  I have found the solution from a youtube video someone taught how to make the menu in strapi. Anyway, thanks a lot!

[2021-05-07 06:03] #58 closed

[2021-05-07 15:16] baermathias commented on #56
[code]
worked for me

[2021-05-10 14:49] ElGrimbo opened #61 "Can't leave title blank"
I'm new to Strapi and this plugin, so hope I haven't missed anything. But I'm following the install instructions [here](https://www.npmjs.com/package/strapi-plugin-navigation) and getting the error below when I leave the title field blank.

![image](https://user-images.githubusercontent.com/10922976/117678368-3b735100-b1a7-11eb-9421-d0ef728c150f.png)

My dependencies:
"knex": "0.21.18",
"sqlite3":

[2021-05-11 08:50] HijlcoL opened #62 "Unable to view navigationItems"
When trying to view navigation items I'm getting an TypeError: `Cannot read property 'pluginOptions' of undefined`.

Configuration settings:
Docker desktop 3.3.2
MacOS 11.2.3
node 12.20.1
Strapi 3.6.1
Strapi-plugin-navigation 1.0.1

I'm running strapi in a docker container with the --watch-admin flag.
![Screen Shot 2021-05-11 at 10 39 07 AM](https://user-images.githubusercontent.com/4363017/117787

[2021-05-11 09:04] cyp3rius commented on #62
Hi @HijlcoL, please use the delivered UI Navigation interface (Plugins section on the left sidebar). We're waiting for next Strapi version to hide the Content Manager entities as we're not supporting this interface because of customs.

[2021-05-11 09:04] #62 closed

[2021-05-12 10:36] Dave-Biddle-Soak opened #63 "Support for Strapi version 3.6.2"
Hi,

Thanks for making this plugin.

I've updated Strapi to version 3.6.2, and `strapi-plugin-navigation` to the current latest version 1.0.1 release. I also rebuilt the admin panel using `npm run build --clean`.

Unfortunately I'm getting the following error when restarting Strapi:

[code]

Correct me if I'm wrong, but this makes it look like the plugin is incompatible with Strapi version `3.6.2`

[2021-05-12 10:52] Dave-Biddle-Soak commented on #63
My apologies, it looks like this was my fault: It seems I missed the following package when updating the Strapi packages in `package.json`:

[code]

Updating the version in that line to `3.6.2`, then running an `npm i` has resolved the issue.
On restarting Strapi, the error no longer occurs.

[2021-05-12 10:52] #63 closed

[2021-05-12 14:31] ElGrimbo opened #64 "Cancel button throws an error"
Using the cancel button in the top right of the Navigation page gives this error:
![image](https://user-images.githubusercontent.com/10922976/117992535-ecf4bc80-b336-11eb-88c1-26b54ee8eaf5.png)

My dependencies:
"knex": "0.21.18",
"sqlite3": "5.0.0",
"strapi": "3.6.1",
"strapi-admin": "3.6.1",
"strapi-connector-bookshelf": "3.6.1",
"strapi-plugin-content-manager": "3.6.1",
"strapi-plugin-content-t

[2021-05-12 14:35] cyp3rius commented on #64
Thanks for report @ElGrimbo, fix is on-going.

[2021-05-12 14:45] ElGrimbo opened #65 "No validation when updating without an entity relation, throws error"
Small bug:

When updating an item it appears there's no validation, as when I hit the Update Item button I get an error:

![image](https://user-images.githubusercontent.com/10922976/117995055-e9facb80-b338-11eb-9abf-0f56f2164278.png)

My dependencies:
"knex": "0.21.18",
"sqlite3": "5.0.0",
"strapi": "3.6.1",
"strapi-admin": "3.6.1",
"strapi-connector-bookshelf": "3.6.1",
"strapi-plugin-content-man

[2021-05-15 22:31] simpian opened #68 "support navigation for content types created by plugins"
I have a plugin that creates a number of content types once installed, however when I add the following code to my model,
[code]

I get errors on pluralization `error TypeError: Cannot read property 'toLowerCase' of undefined`

The problem is actually in services/navigation.js, line 131.

`const endpoint = isSingle ? apiName : pluralize(apiName);`

Code is trying to pluralize `apiName`, but my plu

[2021-05-15 23:20] simpian commented on #68
[code]

use `modelName`  for plugins and apiName for manually added content types seems to fix this issue. Are we able to add this?

[2021-05-16 08:03] cyp3rius commented on #68
Hi @simpian,

yep sounds easy to do. I’m working on couple other bug fixes and will include this one. Should be available in 2-3 days.

[2021-05-19 14:22] bahamut657 opened #71 "Cannot open NavigationItems collection type in Admin"
I've not understand how to use this plugin.
After installing this plugin I can see new collectionTypes added:
- Navigation
- NavigationItems
- Audience
And, under PLUGIN section:
- UI Navigatiton

How can I configure parent-child navigation menu?
I follow the documentation inserting in `<PROJECT_DIR>/config/custom.js`:
`module.exports = {
     plugins: {
      navigation: {
        additionalField

[2021-05-19 14:59] cyp3rius commented on #71
Hello @bahamut657 ,

Use please Plugins -> UI Navigation on the left sidebar. That's the way of work. In next version Strapi will support "hidding" plugin collections, and what is not relevant will disappear. We're not supporting Navigation & NavigationItem editing via Content Manager because of complexity of logic behind.

[2021-05-20 09:20] bahamut657 commented on #71
Ok, thank you so much (I think it is not so clear in documentation).
Another question: What is audience and how to configure it?
If I try to add new element in Navigation the Audience select got no options.

Regards
Jacopo

[2021-05-20 09:32] cyp3rius commented on #71
That's simple key:value pairs that might help your client application to change visibility of items depends of those values like target scopes:
- logged users
- non-logged
- private etc.

To set it properly you've to put a row in the configuration:
[code]

And it should look like this if you'll add "Test" in Audience collection list:

![Zrzut ekranu 2021-05-20 o 11 29 34](https://user-images.githu

[2021-05-20 09:36] bahamut657 commented on #71
Ok. I hope that is the last question :D.

How to retrieve the navigation from API?
I try to make a GET Request to `http://<host>:1337/navigation/render/1`, but if I perform the request (using the Auth Header) I receive a 403 Forbidden.
`{ "statusCode": 403, "error": "Forbidden", "message": "Forbidden" }`

[2021-05-20 09:40] cyp3rius commented on #71
You've to expose the endpoints of plugin to the "Public". You can manage it via:

[code]

Then please tick on *render* endpoint. After save it will be exposed to the public. If you won't do this, endpoint is working but it requires the admin user token in the header. That's default policy of Strapi to not being exposed to public by default :)

[2021-05-20 16:22] bahamut657 opened #72 "Changing ContentTypes' schema configured for navigation results in error"
1. Enable a previously created contentType for navigation, configuring the models as described in the README (in this example it is named 'topic-items').
2. From AdminUI -> Plugin -> Content-Types Builder try to modify the schema of the contentType (adding a field for example)
3. Press the green SAVE Button => It notices "An error occurred"

Looking on NetworkTools I found that:
REQUEST URL
`http:

[2021-05-21 09:01] bahamut657 commented on #72
Closing. It is already tracked on
https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/issues/47

[2021-05-21 09:01] #72 closed

[2021-05-21 09:37] cyp3rius commented on #61
Released as `v1.0.2`

[2021-05-21 09:37] #61 closed

[2021-05-21 09:37] cyp3rius commented on #64
Released as `v1.0.2`

[2021-05-21 09:37] #64 closed

[2021-05-21 09:37] cyp3rius commented on #65
Released as `v1.0.2`

[2021-05-21 09:37] #65 closed

[2021-05-21 16:25] welch08 commented on #50
@JelmerV-WFC Hello! How did you create two navigation? I don't see any select fields

[2021-05-24 21:55] ScottEAdams opened #74 "Navigations not showing in collections in v1.0.2"
Just installed 1.0.2 and after doing a yarn build I am no longer seeing any of the navigation models under collections types, not even the "navigations" model for adding/removing navigations.

[2021-05-25 05:19] cyp3rius commented on #74
Hello @ScottEAdams,

thats expected as in the latest release we’ve introduced support for collections visibility in the left sidebar that Strapi introduced. Direct url to the change is available in the release notes of 1.0.2

That step has been done to avoid confusions because of lack of support for poly relations by built-in Content Manager.

If you’ve been using the collections directly, we can

[2021-05-25 13:01] ScottEAdams commented on #74
OK, thanks for the clarification. Sorry for the follow up question but does that mean that support for multiple navigation containers is currently not supported or is there some documentation for the plugin options that I am failing to understand? Previously I had just created more navigations than the "Main navigation" using the navigations collection type.

[2021-05-25 13:53] cyp3rius commented on #74
In that case to enable it again, drop the lines introduced here: https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/pull/70/files#diff-5473bb7557380462848d1cb53f7d6ede00dafb96a474db7db0582701e04db250

Simply copy the file to `extensions/navigation/models` and remove the lines. It will work as previously. Once we introduce the navite support for multi navigation, you'll be asked to r

[2021-05-28 07:20] #74 closed

[2021-05-28 07:25] cyp3rius commented on #54
To be developed:

1. Native support for GQL in Strapi
2. Research topic with Gatsby (https://www.gatsbyjs.com/plugins/gatsby-source-strapi-plugin-navigation/?=strapi)

[2021-05-28 07:35] cyp3rius opened #75 "Searching in the navigation structure"
1. Scroll to the matched element, might be highlighted
2. In case of multiple matches, ENTER should jump between based on the order

[2021-06-02 12:03] mateutek opened #76 "Add option to filter out root navigation children"
It would be nice to have the option to render the navigation based on the root navigation direct child.

[2021-06-03 14:39] makulatura opened #78 "The issue with Content type Entity not showing title in dropdown"
Hi,

Firstly, thank you for creating this plugin. I decided to write a bit more info on how to deal with setting up this plugin, since it took me quite a while to get to successful result and documentation seems to be written for experienced users (a whole customization file would help).
I wanted to allow Navigation to use Pages content type. That was easy, but next, there was an issue with conten

[2021-06-03 17:06] cyp3rius commented on #78
@makulatura may I ask you for providing a Readme.md contribution? :)

[2021-06-04 16:51] #76 closed

[2021-06-04 16:51] #68 closed

[2021-06-11 12:17] WWAZ opened #79 "[CU-21mwpq0] Webhooks"
Hi folks,

thanks for this nice plugin. To use it in production, it would be important that webhooks would be sent with every change. Do you plan to support webhooks for the next version?

[2021-06-11 12:21] cyp3rius commented on #79
Hi @WWAZ, good point to consider. We will look into it.

[2021-06-13 11:12] ILCAI opened #80 "What is the purpose of the menuAttached / Attach to menu feature?"

[2021-06-13 11:56] cyp3rius commented on #80
Hello @ILCAI ,

the purpose of it is to simple identify which items have to be rendered as menu and which are simply the information structure of the page.

This property is dedicated to use by API response consumers, like you client app for example. You dont need to use it, but you can if it provides some value for you.

[2021-06-13 16:19] ILCAI commented on #80
I see. Thank you, @cyp3rius - I get the clue that this plugin's functionality is a nice approach for having a bridge between page-structure and menu-structure, that always has provoked the question about redundancy for me. Using this approach I think I will
- use pages / posts / infopages / ... as a flat pool of data without hierarchy, perhaps with a category system
- use then navigation plugin to

[2021-06-14 12:44] ILCAI opened #81 "The plugin's configuration in config/custom.js seems to be ignored."
I am using Strapi v.3.6.3 ce and it seems to me changes I make to this file are not influencing the plugins functionality.

[2021-06-15 21:35] rodsotdia opened #82 "Unable to add new fields to content type with navigation attribute"
I have a single content type called "Contacts", so I've added the attribute navigation into `contacts.settings.json` as follow:

[code]

But, when I try to add a new field into this single content type and then try to save the changes, Strapi throws an error:

![image](https://user-images.githubusercontent.com/58403142/122126400-c7068e80-ce85-11eb-9dc7-09e99d659129.png)

In the console the error s

[2021-06-15 21:54] rodsotdia commented on #78
Thanks, @makulatura for this, I had doubts about that config as well, I couldn't find anything related to `custom.js` file.

[2021-06-16 05:57] cyp3rius commented on #82
Hi @rodsotdia ,

It's known as we're using advanced polymorphic relation which is not supported by Strapi Content Builder. Once you provide it via JSON schema, you've to make all the changes also by editing JSON. We're going to change is as part of #50 which is on the backlog already.

Ref #47

[2021-06-16 05:57] #82 closed

[2021-06-16 05:58] cyp3rius commented on #81
@ILCAI can you please provide you config file?

[2021-06-17 06:18] ILCAI commented on #78
Thank you @makulatura for contributing! I had a similar issue, as I posted another issue, @cyp3rius . My problem was a wrong typed collectionName (singular/plural). It is working. Thank you.

[2021-06-17 08:41] #81 closed

[2021-06-20 22:51] rodsotdia commented on #50
I had the same question as @welch08 How can we create more than one navigation? I can't find any related on the docs. Any guide about this? Thanks.

[2021-06-25 09:22] #80 closed

[2021-06-30 16:18] jeffisowens opened #83 "CastError: Cast to ObjectId failed for value "1" at path "_id" for model "navigation""
I'm trying to test the navigation rendering via http://localhost:1337/navigation/render/1?type=%22tree%22.

I get a 500 Internal Server Error and in the logs I see the above CastError.

This is my initial setup:

![image](https://user-images.githubusercontent.com/4451052/123996210-175d1080-d99d-11eb-8366-9f8f4abb01c4.png)

Home is a published single type page.

Components and test2 are published c

[2021-07-01 06:51] Kronos66 commented on #83
Hi @jeffisowens Could you add stack trace and explain why you have in URL something like this: `type="tree"`?

[2021-07-01 13:24] jeffisowens commented on #83
Tree shouldn't have been in quotes, but it's the same error if it is.

Full log:

`Welcome back!
To manage your project 🚀, go to the administration panel at:
http://localhost:1337/admin

To access the server ⚡️, go to:
http://localhost:1337

[2021-07-01T13:21:52.637Z] error CastError: Cast to ObjectId failed for value "1" at path "_id" for model "navigation"
    at model.Query.exec (/Users/jdowens

[2021-07-01 13:47] cyp3rius commented on #83
@jeffisowens as I see you're using MongoDB and I assume that you're trying to retrieve the navigation with not valid id because Mongo generates an alphanumeric ids rather than integers.

``` http://localhost:1337/navigation/render/<id or slug>?type=tree```

That how your call should look like. You should replace `<id or slug>` by proper navigation id or it slug. The initial navigation is created w

[2021-07-01 13:57] jeffisowens commented on #83
Thanks! That works!

[2021-07-01 13:57] #83 closed

[2021-07-05 07:37] zahmedFDL opened #84 "Content-Manager cannot display the collection type when it contains a polymorphic relation"
Describe the bug
I was trying to create a model with polymorphic relation.
I have read docs - https://strapi.io/documentation/3.0.0-alpha/concepts/models.html#relations

When a model contains a polymorphic relation *, the content manager cannot display the model into the Admin UI.

Steps to reproduce the behavior

1. Go to Content-Type Builder
Define new model with any kind of fields, for example,

[2021-07-05 07:42] #84 closed

[2021-07-07 08:33] apokalipscke opened #85 "Strapi crashes after uninstall"
I tried different ways to uninstall this plugin, always resulting in crashed application.

No matter if I do it with `npm remove strapi-plugin-navigation` or `strapi uninstall navigation --delete-files` or from the backend.

Log:

[code]

[2021-07-07 08:41] cyp3rius commented on #85
Hello @apokalipscke,

What you're doing is correct. Plugin has been removed but I think you forgot to manually amend the changed in your collections you already done by adding attribute relation to navigation item. Am I correct?

[2021-07-07 08:48] apokalipscke commented on #85
I tried it the same minute you wrote this 😂 .

It worked, I just forgot to remove this
[code]
from my model settings.

Thanks!

[2021-07-07 08:48] #85 closed

[2021-07-07 08:50] apokalipscke commented on #85
@cyp3rius

But the tables still exist in database. Don't know if this is an issue ...

[2021-07-07 09:08] cyp3rius commented on #85
That's the strapi stuff :) I'm not expecting the tables are going to be removed automatically, also when you're changing the other models.

We didn't "automate" by our own it to avoid problems with if someone made an extensions to the plugin.

[2021-07-07 11:55] tanc commented on #47
Just going to mention this here as it is not clear what "Follow the json schema edit" means unless you know Strapi quite well. To edit the schema you need to find the collection you want to edit the schema for in the `/api` directory in the Strapi folder. Say you are editing a collection called `pages` this would be in `/api/pages`. You then need to find and edit the file called `[collection-name]

[2021-07-19 16:08] botmaster commented on #23
Hello Norbz.
I have to create internal link toward a single type in a menu system. Did you manage to do it ?
Thanks!

[2021-07-22 05:38] baermathias opened #87 "Cannot create internal navigation item (no relation to content type shown)"
I would like to create a navigation item of the type `internal`. For this the field `relation to content type` is required, but it is empty even if I have created multiple entries inside all of my collections, see screenshot:

![Screenshot from 2021-07-22 07-33-16](https://user-images.githubusercontent.com/45003352/126594134-1816e419-0175-496f-8c0c-17a706197373.png)

[2021-07-22 06:55] Kronos66 commented on #87
Hi @baermathias
Could you send your config content types? Without this information, we can't help because we don't know how you configured the content type and we can't check is it correct.

[2021-07-27 06:57] cyp3rius opened #90 "[CU-20rfk7h] i18n Navigation"
1. Provide ability to:
  - edit navigation name
  - change navigation visibility
  - select available languages for navigation entity

2. All navigation options should be possible to edit via modal triggered by clicking `Settings` button on a right hand side of a screen.
3. Provide ability to set item title in all navigation languages.
4. Extend `render` and `renderType` method to consume language

[2021-08-24 21:05] mzronek opened #92 "Can't save navigation item without title property set"
# Steps to reproduce

Local environment connected directly to a MySQL database.
custom.js for plugin configuration:

[code]

* Add new navigation item, set URL field and select collection and entry
* The title field needs to be left empty
* Press "Create Item" button
* Press "Save" button

![image](https://user-images.githubusercontent.com/3847700/130689043-2f5feff8-3750-44c7-b70e-16f56eb4d988.png

[2021-08-25 06:41] calpa commented on #87
Same problem here, any ideas?

/api/homepage/models/homepage.settings.json

[code]

[2021-08-31 03:36] mfreeman-xtivia opened #94 "Server Side Use of Audience field"
Can the audience field be used server-side to constrain which navigation entries are returned on a particular REST call (perhaps by also using the user making the request)?

Or is this strictly an additional piece of metadata returned to the client to use as it sees fit?

[2021-09-01 07:40] forntoh commented on #87
I have the same problem

[2021-09-05 18:09] Kronos66 commented on #87
Hi, @calpa I checked your case, and what I can do if you have a single type then should be available. I didn't see it on the list when I didn't have it in the database, we check this on fetching config from the server.
For other cases, I can't check/help without more information :(.

[2021-09-08 07:05] cyp3rius commented on #54
Version `v1.0.4` which contains requested feature has been released.

[2021-09-08 07:05] #54 closed

[2021-09-09 07:35] nickft opened #95 "Typo (?) in strapi-plugin-navigation/services/navigation.js ; npm run build fails"
When I tried to install the plugin on a strapi instance at the point where I had to run

**npm run build**

the process exited with status 1 due to the following errors:

strapi-plugin-navigation/services/navigation.js:302 ( switch (type?.toLowerCase()) )
strapi-plugin-navigation/services/navigation.js:355 (  audience: item.audience?.map(_ => _.key)  )

After I erased the '?' from both entries, th

[2021-09-09 07:40] cyp3rius commented on #95
@nickft that seems like an issue with ES version, the `?` operator has been introduced some time ago already. What version of Strapi and node you've got?

[2021-09-09 07:55] nickft commented on #95
@cyp3rius yes you're right, sorry for that. Indeed my node version is v10.19.0 which is way lower than v14 where optional  chaining is introduced. Thank you for the fast response. Closing the issue.

[2021-09-09 07:55] #95 closed

[2021-09-09 08:01] cyp3rius commented on #94
Hello @mfreeman-xtivia ,

By design that was a meta data, but it might be used as a filter of a query string: https://strapi.io/documentation/developer-docs/latest/developer-resources/content-api/content-api.html#api-parameters

Our logic consumes it so if you will user the prop like `audience.key` it should filter out and return only items based on the audience provided.

[2021-09-09 23:03] TylerOlthuizen opened #98 "Multiple Navigation Portal"
How can I have multiple Navigations? I notice in some older screenshots there is a select dropdown to select a different navigation menu.

Thanks!

[2021-09-10 06:48] cyp3rius commented on #98
Hi @TylerOlthuizen,

you're indeed right :) We're doing to re-enable the Navigation collection after introducing #93 changes. That's because polymorphic relations does not support multiple linkings. Should be within 1 - 2 weeks.

[2021-09-10 15:45] TylerOlthuizen commented on #98
Sounds good! Thank you

[2021-09-15 06:32] mhdaouas commented on #26
I still get an empty list even with the right config as you mentioned. What is the cause of the issue?

[2021-09-15 06:34] cyp3rius commented on #26
@mhdaouas provide please your configuration file snippet. Without that it's just guessing.

[2021-09-15 13:37] rieset opened #99 "Error after edit audience field"
strapi-plugin-navigation/services/navigation.js

In function **updateBranch**. Argument **toUpdate** look like:
[code]

Select **Audience** in popup edit navigation item, works with error. Values not correct after edit

[code]

[2021-09-17 08:35] Kronos66 commented on #99
Hi @rieset
Could you send to us your configuration, and add more description what exactly was wrong, for now, I don't have enough information to take this bug and help you

[2021-09-17 11:18] rieset commented on #99
When I change the navigationItem (if it has an audience tag) I get an error in the admin panel

If it is the first time I create an Audience Tag, everything is saved

If I edit the navigationItem with the audience tag, I get the error

When editing (without changing the saved audience tag) the **updateBranch** function sends audience equal to **null**. This causes an error

- Latest clear Strapi
-

[2021-09-17 11:21] rieset commented on #99
React select in admin after edit navigationItem sends null to **updateBranch** function, instead of id audience tag

[2021-10-04 12:04] ashfaq-ahmed opened #101 "Getting error after installing the plugin"
Hi, I just installed the plugin, didn't change any other config. rebuilt the strapi, and then while trying to run, I get this.
[code]
Any ideas why is it happening?
Thanks

[2021-10-11 20:28] #87 closed

[2021-10-20 12:43] cyp3rius commented on #50
@shyr1punk planned release for Friday 22nd Oct, last tests are conducted.

[2021-10-20 12:47] #101 closed

[2021-11-08 16:08] #98 closed

[2021-11-08 22:36] luisjose-al opened #103 "navigationItemRelated"
Hey :)
I'm trying to set up the navigation Item Related Model but when I do, this error shows up and I cannot get the Models fields then.
Idk if I'm doing it wrong? I will be very grateful for your help, Thanks :)
<img width="808" alt="Captura de Pantalla 2021-11-08 a la(s) 16 31 54" src="https://user-images.githubusercontent.com/79721453/140829040-1fc98372-0dbd-4c68-a1fc-e886ee4bebdb.png">
<img w

[2021-11-11 15:38] km185273 commented on #50
Any updates on the planned release of this feature? I am waiting on this and i18n Navigation before I can use this plugin.

[2021-11-14 16:19] cyp3rius commented on #50
We've released version `1.1.0` where polymorphic relations has been removed and provided support for multiple navigations (enabled it in native Content Manager).

[2021-11-14 16:19] #50 closed

[2021-11-14 16:19] #99 closed

[2021-11-15 11:48] anthonytison commented on #98
Hi @cyp3rius,
I can see that this issue is closed but i didn't find any tutorial for setting multiple navigations. Could you explain to me how to do it plz ?
Thx

[2021-11-15 11:57] cyp3rius commented on #98
Hi @anthonytison , following the release notes we've enabled `Navigation` collection so it should be visible on the top menu section. You can add multiple navigations there.

[2021-11-15 12:02] anthonytison commented on #98
Right!! I totally missed this one.
Thx :)

[2021-11-15 13:04] anthonytison opened #105 "The polymorphic `name` and `Target` are required"
Plugin version : 1.1.0

Hi,

I'm trying to add the navigation system to a SingleType called `homepage`.

After adding the `navigation` attribute inside the homepage.settings.json, i have the following error `The polymorphic "name" and "Target" are required` which appears when loading the form. If i remove it, it's back to normal.

Sample of the homepage.settings.json file :
<pre>
{
  "kind": "sing

[2021-11-15 18:14] jasonmarysael commented on #105
I'm having the same issue since the latest version. Had no issues with v1.0.4.

[2021-11-15 18:58] racusrussia commented on #105
I join you. I have the same problem

[2021-11-15 19:45] cyp3rius commented on #105
Thanks for reporting this, we are investigating this issue. By the first spot it is nit updated documentation.

Will keep you posted

[2021-11-16 09:39] GithungoIan opened #106 "SyntaxError: Unexpected token '.'"
I've added the strapi-plugin-navigation plugin to my project using yarn and ran the yarn build command. The build was successful but trying to run the yarn develop command I keep get this error

[code]

[2021-11-16 10:18] cyp3rius commented on #106
See the #95, same case with ES support.

[2021-11-16 10:18] #106 closed

[2021-11-18 13:01] sven-ra commented on #103
Exact same bug form me.

[2021-11-19 08:51] anthonytison commented on #105
Hi @cyp3rius,
Did you find the solution to this problem or at least, do you have a lead ?

[2021-11-19 10:39] shyr1punk opened #107 "Error after update to v1.1.0 on node@13 and earlier"
In sources used optional chaining operator supported in node@14

[code]

1) Replace optional chaining (preffered)
2) Update your node version in package.json > engines

[2021-11-19 12:17] #107 closed

[2021-11-19 12:17] shyr1punk commented on #107
duplicate #106

[2021-11-22 11:49] graphicfox opened #109 "Relation to Content Type empty & polymorphic `name` and `Target` are required"
Hello! Thank you for this fantastic plugin.

I have an problem. In the navigation I cant add relations and if i try to create a new page i get
```error Error: The polymorphic `name` and `Target` are required.```

![Capture](https://user-images.githubusercontent.com/37541937/142850866-bcd34376-8cae-41bc-93ae-a95297cf7d82.PNG)

Im using the latest version 1.1.0. My Database is newly generated. When

[2021-11-22 14:29] graphicfox commented on #109
Merge pull request #108

fixes the problems for me.

[2021-11-22 14:29] #109 closed

[2021-11-22 14:30] graphicfox commented on #105
Hi @anthonytison the open pull request fixes the problems for me. Hope it gets soon merged

Merge pull request #108

[2021-11-22 14:59] cyp3rius commented on #105
Fix from #108 has been released as `v1.1.1`, sorry for inconvenience and thanks for being patient :)

Check the [release notes](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/releases/tag/v1.1.1)

[2021-11-22 14:59] #105 closed

[2021-11-22 17:52] jasonmarysael opened #110 "No content types available"
Version: 1.1.1

For some reason I'm not able to select a content type option when creating a new navigation item.

![image](https://user-images.githubusercontent.com/28600053/142909774-5215a615-f60c-4d8d-abc0-e21e2cb478e4.png)

config/plugins.js:

![image](https://user-images.githubusercontent.com/28600053/142910003-e595b8e7-7eaa-456c-9b0f-8013f4776021.png)

api/page/models/page.settings.json:

![

[2021-11-22 23:31] guizmo commented on #110
i am juste discovering strapi and i installed this plugin today
your settings look good to me (i'm NO expert)

<img width="712" alt="Screen Shot 2021-11-23 at 10 29 33" src="https://user-images.githubusercontent.com/699063/142950281-5ce4c439-b8d8-41fb-a6a4-843361e77fba.png">
<img width="677" alt="Screen Shot 2021-11-23 at 10 29 42" src="https://user-images.githubusercontent.com/699063/142950285-60

[2021-11-23 07:28] jasonmarysael commented on #110
Thx for verifying @guizmo. it seems I had to use 'application::page.page' instead of 'application::pages.pages' for some reason. Now it's working fine.

[2021-11-23 07:28] #110 closed

[2021-11-23 12:34] voytech-net opened #111 "Public API specification - tree and rfr throws 500 server error"
Hello,

I have installed plugin's version 1.1.1 and I am currently experiencing an issue where I am not able to get items from REST API with type=tree or type=rfr, type=flat is working ok.

Here is the stacktrace:
`TypeError: Cannot read property 'find' of undefined
    at /Users/vojtaesner/www/metrostav-api/node_modules/strapi-plugin-navigation/services/utils/functions.js:115:60
    at itemParser

[2021-11-24 14:54] anthonytison opened #113 "TypeError: Cannot read properties of undefined (reading payload or uid)"
Hi,

When i save a menu, i always get the error `Cannot read properties of undefined (reading 'payload')`. This error seems to happen after the call because If i check the response (example below), i have the data with the list of my items.

Also if i refresh the navigation page, the error is `Cannot read properties of undefined (reading 'uid')` but the response (example below) shows the data.

FY

[2021-11-25 08:15] cyp3rius commented on #111
Fix released as version `1.1.2`

[2021-11-25 08:15] #111 closed

[2021-11-29 09:12] anthonytison commented on #113
hI @cyp3rius, did you make some progress on your investigation ?

[2021-11-29 15:56] graphicfox opened #115 "Role Permissions Strapi Community Edition"
Hello!

I looking for the possibility to let the Role Editor change the Navigation. But by default only the Content Type is editable. The menu itself  is not visible and cant be changed by a non Admin.

![image](https://user-images.githubusercontent.com/37541937/143900354-33465d46-24d6-49d2-aa4c-e1301a36e452.png)

[2021-11-29 17:38] V1nga opened #116 "Content type entity not showing in dropdown"
Hi, content type entity not showing in dropdown, i don't understand what is the problem.

Strapi version: 3.6.8
Navigation plugin version: 1.1.2

custom.js
[code]

page.settings.json
[code]

![Screenshot_1](https://user-images.githubusercontent.com/43814565/143915187-26f42f97-df1e-4d5d-a7c1-576f49a5f2c5.jpg)

[2021-11-29 22:59] shanebeeston commented on #113
Im getting the same issue

[2021-12-01 08:07] georgeariton commented on #116
Hello,

I think this might be related to the fact that they recently removed the polymorphic relationships for the collections and this file might be the culprit "models/navigationItem.js"

[2021-12-01 08:12] cyp3rius commented on #116
@V1nga follow please the updated documentation: https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation#content-type-model-relation-to-navigation-item

[2021-12-01 09:08] georgeariton commented on #116
I've just done a quick install of 3.6.8, created a collection named page and got this:
![image](https://user-images.githubusercontent.com/37028725/144204750-0235e611-5635-4344-902c-e45cbf4a1cd9.png)

Followed the instructions and tried to change the related content type with upper/lower case plural and singular variants... still doesn't work.

[2021-12-01 09:25] georgeariton commented on #116
**Finally got this to work, but it's confusing**

1. All of the configurations must go in plugins.js:
`module.exports = ({ env }) => ({
  navigation: {
    relatedContentTypes: [
      'application::page.page'
    ],
    additionalFields: ['audience'],
    allowedLevels: 2,
    contentTypesNameFields: {
      'page': ['title']
    },
    gql: {
      navigationItemRelated: 'union NavigationRelated

[2021-12-01 12:32] V1nga commented on #116
Thanks, it helped

[2021-12-01 12:32] #116 closed

[2021-12-03 10:33] V1nga opened #117 "Related field"
Hi, how to make a related field in "render tree", as in "render rfr"? And why does the user bother with all his data in the "render tree" and "render flat"?

Strapi version: 3.6.8
Navigation plugin version: 1.1.2

RFR
![image](https://user-images.githubusercontent.com/43814565/144587522-2b4a37da-3330-4af3-8357-d82168a58bce.png)

TREE
![image](https://user-images.githubusercontent.com/43814565/1445

[2021-12-04 09:37] hrenaud opened #118 "Add description field"
Could we have a description field (or any other name) that could be used to fill the title attribute of a link. This would be a plus for SEO and accessibility.

[2021-12-07 10:07] shanebeeston commented on #113
I got around this by deleting node_modules / .cache / .build folders and it worked fine after this

[2021-12-08 14:34] caomicc opened #119 "Compatibility with v4"
Hi!

Are there any plans to make this plugin work with v4? It currently does not work for me and I'd love to be able to use it eventually :)

[2021-12-08 14:44] cyp3rius commented on #119
Yep we're working on v4 re-implementation :)

[2021-12-13 19:20] hrenaud commented on #115
I have the same problem, is it possible to make the navigation accessible and maintainable to the editor profile?

[2021-12-14 07:37] cyp3rius commented on #115
@graphicfox @hrenaud, you have to edit permissions for Editor role to allow:
- Access
- Change

So those two you've got on attached screenshot must be checked.

[2021-12-14 07:40] cyp3rius commented on #118
To be considered in the next version, as for now you're able to extend the navigation item content type using Strapi Extensions: https://docs-v3.strapi.io/developer-docs/latest/development/admin-customization.html#customization-options

[2021-12-14 07:40] #118 closed

[2021-12-14 07:42] cyp3rius commented on #113
Follow @shanebeeston  workaround, seems something being cached.

[2021-12-14 07:42] #113 closed

[2021-12-14 07:46] graphicfox commented on #115
Hey, sadly these options are inaccessible and not clickable.

[2021-12-15 14:23] hrenaud commented on #115
@cyp3rius as @graphicfox said it, we are not allowed to change this configuration.

[2021-12-15 15:08] anthonytison commented on #113
Yep it's good for me too. Thx

[2021-12-18 07:41] PandhuWibowo opened #121 "Is it support on Strapi v4?"
Strapi has been released v4, and your package support with that?

[2021-12-19 20:52] alandolsi commented on #121
+1

[2021-12-20 07:40] cyp3rius commented on #121
Yep, we're working on it -> https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/discussions/120

[2021-12-20 07:40] #121 closed

[2021-12-20 16:10] marco-villanueva opened #122 "Strapi V4 Update"
A few weeks ago Strapi V4 was released, and they changed the folder structure, this plugin is not supported.
Do you have any plan to update the Navigation plugin with V4 compatibility ?

[2021-12-20 16:27] cyp3rius commented on #122
https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/discussions/120

[2021-12-20 16:27] #122 closed

[2021-12-20 16:29] cyp3rius opened #123 "[READ] Before raising question to v4 compat"
Worth to check https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/discussions/120. We're working on it.

[2021-12-26 14:32] xetambda opened #124 "Navigation items with subitems and without linked internal contents"
**Feature Request**

Hello!

thanks for this nice plugin.
At the moment a navigation item with subitems should be linked to an internal content. But sometimes a navigation item is just a container for other items. Is it possible to include navigation items that are not linked to internal content but can contain subitems?

[2022-01-05 13:26] hrenaud commented on #115
@graphicfox I worked around the problem by duplicating two entries in the database that were in the `strapi_permission` table.

You have to duplicate the row with the action `plugins::navigation.read` and put `2` in the `role` column. And the same for the row with the action `plugins::navigation.update`.

At this point, the checkboxes become checked and the menu accessible.

[2022-01-05 13:35] hrenaud commented on #124
@xetambda I got around the problem by creating two fake link types and the front end handles the behavior:
- http://internal.link which allows to add pages that are not created in Strapi -> http://internal.link/no-strapi-page
- http://root.link which allows you to have a sub-menu with links that appear on click or roll over, but which is not a link itself.

This is a workaround that works very wel

[2022-01-08 01:35] mattmillen888 opened #130 "Issue with install "strapi-plugin-navigation": "^2.0.0-beta.1""
I followed the recommended installation as per plugin https://www.npmjs.com/package/strapi-plugin-navigation

I am using a plain vanilla install of strapi 4.0.3

yarn add strapi-plugin-navigation@latest
yarn build

when i run build i get following error:

Error: Plugin name "Navigation" is not in kebab (an-example-of-kebab-case)
    at validatePluginName (/Users/macbookpro/Sites/_training/_javascr

[2022-01-08 08:30] cyp3rius commented on #130
Hello @mattmillen888 ,

Fix has been releases as `v2.0.0-beta.2`

[2022-01-08 08:30] #130 closed

[2022-01-08 09:59] mattmillen888 opened #131 "ModuleNotFoundError: Module not found: Error: Can't resolve 'immutable'"
I have installed the latest v2.0.0-beta.2 however now when i yarn build. i get the following issue from webpack

ModuleNotFoundError: Module not found: Error: Can't resolve 'immutable' in '/Users/macbookpro/Sites/_training/_javascript/strapi/strapi-cms-example-blog/backend/node_modules/strapi-plugin-navigation/admin/src/pages/DataManagerProvider'
    at /Users/macbookpro/Sites/_training/_javascrip

[2022-01-08 20:51] cyp3rius commented on #131
@mattmillen888 fix made by @Kronos66 releases as part of `v2.0.0-beta.3`.

[2022-01-08 20:51] #131 closed

[2022-01-09 06:15] mattmillen888 opened #133 "Content Type Blank"
I have everything installed now without bugs. (Thank-you for the prompt updates on the install issues! :))

What i cant work out if this is a configuration issue on my part or another bug.

when i go to UI Navigation in admin panel. I go to create first navigation item but save is greyed out and Content Type has nothing populated.

do i need to do something else or create a special content type to

[2022-01-09 09:23] cyp3rius commented on #133
Seems like missing configuration for Content Types. Have you followed the Readme.md?

[2022-01-10 13:33] ltsNotMike commented on #133
I've updated the configuration section in the docs. I hope this will help with the bug.

[2022-01-10 14:14] fletchzone opened #134 "v2 beta 2.0.3: strapi-server.js: Unexpected token '.' Error: could not load js config file."
v2 beta: 2.0.3: This error occurs on yarn strapi dev.  Not on yarn strap build.    I looked at strapi-server.js and it looks fine...no errors.

Angular CLI: 12.0.5
Node: 12.22.8
Package Manager: npm 6.14.15
OS: win32 x64

![image](https://user-images.githubusercontent.com/7855564/148779527-fbf78b44-7dd2-43d2-a23b-5ee789182c3b.png)

[2022-01-10 14:20] cyp3rius commented on #134
@fletchzone  thanks for raising the issue. By your configuration I see you're using really old node and npm versions. That's indeed the total minimum which strapi is advicing but we recommend node v14 because of security reasons.

Anyway let us check the issue, I guess the `require` handling by this node version is the reason of it.

[2022-01-10 21:08] andreyluchianic commented on #133
same here
<img width="1680" alt="Screenshot 2022-01-10 at 23 07 49" src="https://user-images.githubusercontent.com/88837148/148839650-50ebdf32-87e8-4bee-b551-042e566e8737.png">
<img width="907" alt="Screenshot 2022-01-10 at 23 07 57" src="https://user-images.githubusercontent.com/88837148/148839661-111b8ddc-d0ee-474f-a35d-00912a741e57.png">

[2022-01-11 07:59] cyp3rius commented on #133
Closing, reopen if needed.

[2022-01-11 07:59] #133 closed

[2022-01-11 21:41] Tiagogv opened #135 "v2.0.0-beta.3 - Error on saving with external links"
Strapi Version: 4.0.3

The following error is thrown on frontend when having a NavigationItem with an External Url and clicking on Save button.
It impossible to configure External links using the Admin UI because of this.

`
[Error] TypeError: undefined is not an object (evaluating 'related.value')
	transformItemToRESTPayload (my-plugin.chunk.js:875)
	map
	transformToRESTPayload (my-plugin.chunk.j

[2022-01-12 13:57] ltsNotMike commented on #135
@Tiagogv Thank you for pointing out this issue. I've committed a fix for this bug so the next beta version shouldn't have any more problems with external links.

[2022-01-13 07:36] prafull-qed42 opened #137 "Application crash while opening content-type and media library in strapi v4"
TypeError: Cannot read properties of undefined (reading 'allPermissions')
    at p (main.2e26f8fa.js:16612)
    at Ch (main.2e26f8fa.js:10116)
    at ck (main.2e26f8fa.js:10226)
    at bk (main.2e26f8fa.js:10209)
    at ak (main.2e26f8fa.js:10209)
    at Tj (main.2e26f8fa.js:10209)
    at Lj (main.2e26f8fa.js:10202)
    at main.2e26f8fa.js:10082
    at exports.unstable_runWithPriority (main.2e26f8

[2022-01-13 08:43] cyp3rius commented on #137
@prafull-qed42 please provide a screenshot of error and following data:
- exact scenario you are triggering
- node.js version
- npm version
- operating system

[2022-01-13 09:29] graphicfox commented on #115
@hrenaud Thank you very much that did the trick.

I will leave this open in the hope for an official fix 👍

[2022-01-13 11:01] ThomasFKJorna commented on #133
I have the same problem and can't manage to figure out how to resolve it. I tried a lot of different combinations for all these but no dice.

./config/plugins.js
[code]

./src/api/blog-post/content-types/blog-post
[code]

Am I supposed to use something different than the `collectionName` here? I've tried singular and plural names, but no luck.

## Screenshot
<img width="1428" alt="image" src="http

[2022-01-13 11:12] cyp3rius commented on #133
@ThomasFKJorna have you tried `api::blog-post.blog-post` ?

[2022-01-13 11:25] ThomasFKJorna commented on #133
The UUID is indeed "api::blog-post.blog-post"

Same result for this configuration:

module.exports = ({ env }) => ({
  navigation: {
    additionalFields: ["audience"],
    allowedLevels: 2,
    contentTypes: [
      "api::blog-post.blog-post",
      "api::jote-article.jote-article",
      "api::user.user",
      "api::article.article",
    ],
    contentTypesNameFields: {
      "api::blog-post.bl

[2022-01-13 11:34] ltsNotMike commented on #133
In strapi v4 structure of the config file is changed slightly
[code]
Your config has proper fields and values but it's never used because of the wrong structure.

[2022-01-13 11:36] cyp3rius commented on #133
Yep, we will update the docs. Try what @ltsNotMike advice.

[2022-01-13 11:44] ThomasFKJorna commented on #133
Amazing, thank you so much for the quick help!

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/21983833/149324436-503820f9-fea8-4811-b6ba-a35e3ac7fea0.png">

[2022-01-13 11:51] ThomasFKJorna commented on #133
Just while I have you here, a quick Q: if I understand this plugin correctly, you are able to design navigation layouts to be consumed by some frontend application, not define a new navigation structure for use in the Strapi admin panel, right?

I was under the impression it was the latter at first, but I think I may have been mistaken.

[2022-01-13 12:39] cyp3rius commented on #133
Yep, you're defining the navigation structure for your client application.

[2022-01-18 07:10] kostikovmu opened #139 "Error on ui-navigation save. strapi v4.0.4 ; navigation 2.0.0-beta.3"
`my-plugin.886cd737.chunk.js:1 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'payload')
    at my-plugin.886cd737.chunk.js:1:8228
    at c (main.2b4fc56d.js:2:2085544)
    at Generator._invoke (main.2b4fc56d.js:2:2085332)
    at Generator.next (main.2b4fc56d.js:2:2085973)
    at t (main.2b4fc56d.js:2:550)
    at u (main.2b4fc56d.js:2:761)`

[2022-01-18 09:42] ltsNotMike commented on #139
@kostikovmu I could not reproduce this bug. Can you please provide a screenshot of the error and the following data:
- exact scenario you are triggering
- node.js version
- npm version
- operating system

[2022-01-20 14:00] thomaseckhardt commented on #139
@ltsNotMike I get the same error.

**Steps to reproduce (see video)**
* Create first/new item
* Fill out the fields
  * Title: Test
  * Attach to menu: On
  * Internal Link: Off
  * External Url: https://www.domain.com
* Hit Save
* Hit Save (located at the top of the page)

**Environment**
* Strapi v4.0.4
* Node v14.17
* MacOS 10.15.7

https://user-images.githubusercontent.com/3824117/150351961-a2

[2022-01-20 14:40] thomaseckhardt commented on #139
I had overlooked that there must be a configuration where at least a CollectionType is defined.

With the [configuration from the documentation](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/tree/feat/strapi-v4-support#configuration) and a collection of type `Page` with a field `title` the error did not occur anymore.

[code]

[2022-01-20 14:48] kostikovmu commented on #139
@ltsNotMike
My steps:

1. install via `yarn add strapi-plugin-navigation@2.0.0-beta.3`
2. add file `config/plugins.js`
[code]
3. add one item to menu in "ui-navigation"
4. click "save"
5. Have error and "ui-navigation" not opened again.

- nodejs version 14.18.2
- npm version 8.3.0
- os ubuntu 20.04.3

[2022-01-20 15:58] EvaChuks opened #140 "Cannot read property 'associations' of undefined"
I got this error when am trying to upload an image from nextjs frontend to strapi.

[code]

Strapi version: 3.6.8

[2022-01-21 10:11] ltsNotMike commented on #139
@thomaseckhardt Thank you for the detailed description of the bug. It looks like your issue is connected to #135. I've committed a fix for that, but it's not yet in the release.  Please follow mentioned issue for updates on that.

[2022-01-21 12:14] ltsNotMike commented on #139
@kostikovmu Thank you for the follow-up on the issue. The bug you're experiencing is caused by a lack of version specification of the "uuid" package. This will be fixed in the new release.

[2022-01-21 12:27] ltsNotMike commented on #103
Closing issue due to merged fix. Please reopen if needed.

[2022-01-21 12:27] #103 closed

[2022-01-21 13:15] #139 closed

[2022-01-21 13:19] ltsNotMike commented on #135
I will close the issue since the new release ( v2.0.0-beta.1 ) is ready. Please feel free to reopen if needed.

[2022-01-21 13:19] #135 closed

[2022-01-21 13:58] #137 closed

[2022-01-21 14:02] cyp3rius commented on #134
@fletchzone the issue is simply with `?.` usage in our node.js codebase. This is supported by node `v14`. Version `v12` which you're using is going to end support by May 2022 (in 4 months according to https://nodejs.org/en/about/releases/). Are you considering to switch to `v14`? Providing even temp backward compatibility is going to be significant effort for us.

[2022-01-26 21:50] bayleak commented on #117
Got the same problem.
I think it should not be possible at all to expose user sensitive data via the api.
If this is not configurable  (at least i found nothing about this), this makes it impossible to use the plugin in a real world scenario.
I'm sure this is a bug and it is for sure a major security risk.

Or are we doing something wrong here?

[2022-01-27 05:06] cyp3rius commented on #117
Investigation in progress.

[2022-01-27 07:45] cyp3rius commented on #117
@bayleak @V1nga this issue has been already fixed in `v1.1.3` please upgrade your dependencies.

See: [release notes of v1.1.3](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/releases/tag/v1.1.3)

[2022-01-27 07:45] #117 closed

[2022-01-27 07:46] cyp3rius commented on #134
Closing.

[2022-01-27 07:46] #134 closed

[2022-01-29 17:26] KrisKnez opened #141 "Plugin not showing up after fresh installation."
I am having a problem with the installation of this plugin.

I just did this
`yarn create strapi-app my-project --quickstart`
and then
`cd my-project`
`yarn add strapi-plugin-navigation@latest`
`yarn develop --watch-admin`

After setting up my account and going to the plugins page, navigation is not listed as a plugin there.

What may be the problem? Am I missing a step?

UPDATE: My toolchan versi

[2022-01-29 17:45] cyp3rius commented on #141
I assume plugin hasn't been enabled in your configuration. Check please the **Configuration** section of our readme, you must add `enable: true` I guess.

[2022-01-29 18:03] KrisKnez commented on #141
The way the plugin is detected is that strapi searches through `node_modules` for plugins and I can verify that `strapi-plugin-navigation` is present there which means I have correctly added it via yarn.

I have also installed the latest version of strapi for which this plugin was test (4.0.5) and it is also not getting detected.

[2022-01-29 18:06] KrisKnez commented on #141
When I add the `enable: true`, the file looks like this:

[code]

And I cannot build the server, I get the following error:

[code]

[2022-01-29 18:15] KrisKnez commented on #141
The only solution regarding the `TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined` problem I have found is:

https://github.com/strapi/strapi-starter-react-blog/issues/7

But that is in no way related to my case, my project nor `@strapi/strapi` nor `strapi-plugin-navigation` use `react-scripts` or `react-dev-utils` as far as I see...

[2022-01-29 18:16] KrisKnez commented on #141
Running `yarn check` gives me this output but I don't know if it's related...
[code]

[2022-01-29 18:40] cyp3rius commented on #141
Check please you `package.json` file, probably the @latest has installed v3 compatible version. We must fix it.

The most recent version: `2.0.0-rc.1`

[2022-01-29 18:47] KrisKnez commented on #141
You are right!
[code]

I have `Strapi `version 4 installed and  `strapi-plugin-navigation` Version 1 which is for `Strapi `version 3.x.
Do you recommend me use Strapi version 3 or `strapi-plugin-navigation` version 2? Because `strapi-plugin-navigation` version 2 is in beta according to https://www.npmjs.com/package/strapi-plugin-navigation

[2022-01-29 18:55] cyp3rius commented on #141
The v4 compatible version is already in RC so we recommend to use it. No further changes is planned, we are collecting test feedback only and going to release first major version soon :)

Use please `2.0.0-rc.1` and if any issue occurs report it to us.

[2022-01-29 19:31] KrisKnez commented on #141
There is no `2.0.0-rc.1`. The latest version 2 is `v2.0.0-beta.5`

[2022-01-29 20:00] cyp3rius commented on #141
By some reason, package hasn't published automatically. Done that manually now, and should be ok.

[2022-01-30 09:48] Jimmylet opened #142 "How doest it work with multiple menu ?"
Thank you for this plugin which is very clean!

I am trying the latest version (for Strapi v4).

But I don't quite understand how it works.

I would like to create several menus:

- Main navigation
- Footer navigation

In "UI Navigation", when I add links, I don't know how to differentiate between the links that will go in the footer or those that will go in the main navigation.

I noticed a "Navi

[2022-01-30 10:18] ltsNotMike commented on #142
Hello @Jimmylet
We are happy to hear that you enjoy the plugin so far. The plugin at this point only supports one navigation per application. Right now the only possibility to customize how navigation is consumed is the introduction of the audience field. You can read about it in the documentation. We plan to add support for multiple navigations not far into the future so please feel free to follo

[2022-01-30 10:30] cyp3rius commented on #142
To put more light into it. Upcoming week we are planning to publish detailed roadmap and it is not yet said we won't include the multiple navigations before non-RC release ;)

[2022-01-30 10:34] Jimmylet commented on #142
This is great news. Strapi is moving in the right direction and I think your plugin could be a "must-have" in the future.

[2022-01-30 10:34] #141 closed

[2022-02-04 05:11] cyp3rius commented on #142
@Jimmylet feature has been released as part of `v2.0.0` final release 💪

[2022-02-04 05:11] #142 closed

[2022-02-04 05:11] #123 closed

[2022-02-04 11:27] cyp3rius commented on #78
No longer valid, we've changed the approach.

[2022-02-04 11:27] #78 closed

[2022-02-04 11:28] cyp3rius commented on #55
Won't do for v3, Strapi v4 solves this internally.

[2022-02-04 11:28] #55 closed

[2022-02-04 11:29] #94 closed

[2022-02-04 13:36] motion-work opened #146 "[CU-21ungpa] Get page by path defined in UI Navigation"
Is it possible to query (Graphql or REST) a page by the path defined with UI Navigation Plugin? I'm trying to create a Main Navigation Menu within Nuxt.js.

<img width="228" alt="Screenshot 2022-02-04 at 14 34 37" src="https://user-images.githubusercontent.com/11538632/152537782-25efeb7c-db04-49b9-be64-46db9b31cec9.png">

[2022-02-04 14:47] cyp3rius commented on #146
At this very moment no, but we're happy to pick it up for one of upcoming versions or maybe you can contribute to it?

[2022-02-04 19:33] Kinbaum opened #147 "Populate a field from an entity in render"
Hello, I was wonder if it's possible to populate the navigation item with a field from the selected entity.
As an example, I have a relationship of tags included on my pages. The idea is that when I make a request to get the navigation, I need to conditionally show / hide the nav items based on what tags are present.

Is that something that is already possible, or will it be?

[2022-02-04 19:49] cyp3rius commented on #147
At this very moment it's not possible, but an idea is good.

We can do it by two way:
1. try to populate all possible fields (less performance)
2. populate fields defined in configuration per Collection Type

[2022-02-04 20:05] Kinbaum commented on #147
I definitely think that the latter is the right way to go for this.

[2022-02-05 02:28] Kinbaum commented on #147
Here is a quick diff of the areas that enable what I'm looking for (hardcoded for a quick POC)

[code]

[2022-02-06 17:08] Kinbaum opened #148 "Can someone explain what `audience` is and how it's used"
Hi, I've seen discussions here about leveraging the audience field for various customizations; including things such as grouping nav items under a non-linkable dropdowns. I can't find and information/documentation on how to actually leverage this field.

What does this actually do, what is its intended purpose, and how do I get something to show up in the JSON response?

[2022-02-07 07:18] cyp3rius commented on #148
Hello @Kinbaum ,

first of all you must enable `audience` field in you [configuration](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation#-configuration)

After that you'll get new dropdown in the item form. To populate data to that dropdown you must add at least single audience in `Content Manager` -> `Audience`.

[2022-02-07 12:36] Kinbaum commented on #148
That's what I thought, but I'm not getting that. There is no dropdown in the new item form. I've added an audience item.

[code]

[2022-02-07 12:38] cyp3rius commented on #148
@ltsNotMike can you look on this?

[2022-02-07 12:47] Kinbaum commented on #148
@cyp3rius @ltsNotMike It looks like this config item is never used in this form. There is also no dropdown component associated with audience.

https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/blob/af73f18e405bbc67ecf66b394a11bb3355089b39/admin/src/pages/View/components/NavigationItemForm/index.js#L30

[2022-02-07 12:53] cyp3rius commented on #148
That seems we missed the user end here. @ltsNotMike  it working on it now.

[2022-02-07 22:10] luxterful commented on #115
I have the same issue. I can see the Read and Update checkboxes in the role editor but i CANT edit them!
I use Strapi v4.0.7 and strapi-plugin-navigation v2.0.0
<img width="1512" alt="strapi-nav-permission-issue" src="https://user-images.githubusercontent.com/26602700/152880515-b52a9f77-fb20-4dec-8888-7c8545d304ed.png">

[2022-02-07 23:05] edardev commented on #115
What does this mean? Custom plugins should be able to integrate or implement Roles and Permissions features, otherwise 😢

[2022-02-08 07:15] cyp3rius commented on #148
Fix releases as part of `v2.0.1`

[2022-02-08 07:15] #148 closed

[2022-02-08 07:16] cyp3rius commented on #146
Moved to backlog for `v2.0.2` as `[CU-21ungpa]`

[2022-02-08 07:23] cyp3rius commented on #115
Folks I've double checked it and officially Strapi Community is not supporting Plugin roles. This ability is enabled only for paid options where RBAC is extended, so every permission not related with Content Types (Collection, Single) is not going to be editable / accessible for Community.

See reference: https://docs.strapi.io/user-docs/latest/users-roles-permissions/configuring-administrator-rol

[2022-02-08 19:39] Kinbaum opened #151 "Format API to match default Strapi response"
Hello, I am using the Strapi SDK as an interface between my front end and the data. This let's me use methods such as `find` `findOne` etc.

Would it be possible to modify the navigation response so the the information is nested under the `data` and `meta` keys?
This would better align to the contract that the SDK expects when querying a collection.

I've extended this for the time being to play w

[2022-02-08 20:29] cyp3rius commented on #151
Hello @Kinbaum, plugin provides custom functionality and its not only a Collection provider. Thats why its not following the Strapi SDK.

[2022-02-08 20:30] Kinbaum commented on #151
Fair enough

[2022-02-08 20:30] #151 closed

[2022-02-09 12:05] luxterful opened #152 "Feature Request: provide an option to disable/hide the URL on internal links"
In my strapi setup i have an entity type called "Page" which has an href as required argument.
With this argument i will render all available pages.

In my frontend framework (Nuxt): If there is a request i will take the path and search for it in all pages. If no page was found i will trigger an 404.

In this setup i don't need the URL on the Navigation Element because i can get it from the refere

[2022-02-10 07:48] cyp3rius commented on #152
A tricky question @luxterful ;) But it might be considered as an option. If I get you correctly, you would like to:

1.  entirely turn off url creation for your nav items
2. return the url based on related entity or just keep it as part of related field?

[2022-02-10 09:50] luxterful commented on #152
@cyp3rius yes, both options would work :)

[2022-02-17 08:49] mattmillen888 opened #153 "Issue with "Entity" when creating menu item"
I am having an issue with "Entity" when creating a Navigation menu. It just shows up as white in the menu so i don't really know what it is or does?.

I have created a video to show whats happening. We can select a white menu item and it works and creates menu item but as I create more menu items the selection list gets smaller and then i cant create any more menu items so it's obviously linked to

[2022-02-17 10:44] ltsNotMike commented on #153
Hello @mattmillen888, thank you for pointing out this bug. I've tried to reproduce it but with no luck.
Can you please provide me with this informations:

- What version of strapi and strapi-plugin-navigation are you using?
- What version of node are you using?
- Does the browser console print any errors? If yes please provide screenshots of these errors.

[2022-02-17 11:09] mattmillen888 commented on #153
"@strapi/strapi": "^4.0.8",
"strapi-plugin-navigation": "^2.0.2"
node v14.18.3

No console errors showing in browser

[2022-02-17 12:31] ltsNotMike commented on #153
I found out that this kind of behavior happens when the content type doesn't have a name field. This can happen by either mismatch between your config and content type structure or by editing content type structure.

1. Make sure that your `Page` content type has the `title` field that you provided inside config as a name field.
2. Make sure that entities of `Page` content type don't have the `tit

[2022-02-18 11:20] gertmulder opened #156 "Not possible to access Navigation for Public role using GraphQL"
For my website I would like to load the information for the Navigation menu to build the menu. To do so, I thought I could give public access to find the data using the Users & Persmissions plugin. However, there are only a render and renderChild option available.

![Public_permissions](https://user-images.githubusercontent.com/33514543/154671824-43df4fad-3927-4e95-868b-b8de7c483f24.png)

I just e

[2022-02-18 21:36] mattmillen888 commented on #153
Excellent thanks for this information. it works really well now!

[2022-02-18 22:17] mattmillen888 opened #157 "Need to add multiple menus with different content types"
For some reason when i add a second menu item with different content type other than api::page.page it wont show up when i create a new menu in admin. It only ever shows "Pages", where as it should also now show "HelpForms"

for example i have created a new content type called "api::help-form.help-form" and it wont show in the dropdown? any ideas why?

My config is below::

module.exports = ({ env

[2022-02-19 04:56] mattmillen888 commented on #157
Its ok I solved this. maybe worth putting in documentation that you need to rebuild admin "yarn build" for the Navigation Plugin to show-up in settings  otherwise this don't work as they should :)

[2022-02-19 10:30] ltsNotMike commented on #157
Since v2.0.2 config file is only a store for restoring configuration. If you changed it you have to restore config through the Settings Page for the file to be synchronized with the working configuration.

Creating your own configuration through the `plugins.js` file is very error-prone. Please try to avoid it and use the plugin's new Settings Page to avoid all possible problems with configuration

[2022-02-20 10:03] cyp3rius commented on #157
Closing as answered.

[2022-02-20 10:03] #157 closed

[2022-02-20 10:09] #153 closed

[2022-02-21 09:23] #146 closed

[2022-02-21 09:25] cyp3rius commented on #153
Released as part of `v2.0.3`

[2022-02-21 14:27] motion-work opened #158 "renderNavigation Endpoint returns an error when querying the related field"
I'm trying to get the related page of the navigation item via the ***GraphQL endpoint*** (renderNavigation).

Querying the `related` field returns the following error:

[code]

Here's my query:

[code]

The REST endpoint works as expected:

`http://localhost:1337/api/navigation/render/1?path=/home/team`

[code]

[2022-02-21 22:29] JuliusGudni opened #159 ""isArray is not defined""
The following error happens on a clean Strapi v.4.1.0 installation.
Was able to replicate the error in all usage scenarios, as in with the UI Navigation completely empty, not-empty both with relations, no relations, nesting, no nesting.

Looked at the code and there seems to be a isArray import missing from loadash. Will be making a pull request in a few.

[code]

[2022-02-21 22:32] JuliusGudni commented on #159
#160

[2022-02-21 23:20] JuliusGudni commented on #156
Possibly same problem as #159 ? What do the console logs say?

[2022-02-22 04:26] cyp3rius commented on #159
@JuliusGudni thank you for the spot and fix. Released as part of `v2.0.4`

[2022-02-22 04:26] #159 closed

[2022-02-22 14:55] cyp3rius commented on #156
@gertmulder  that's intentional. You're trying to access endpoints which are exposed only for Administration Panel. By design plugin support different scopes of endpoints:
- client
- admin

We support only client (render, renderChild) via REST & GQL API.

[2022-02-28 07:53] cyp3rius commented on #158
Fixed in `v2.0.5`

[2022-02-28 07:53] #158 closed

[2022-03-01 15:49] luxterful opened #166 "Popup about autoReload feature in Production"
I get a popup about an disabled autoReload Feature every time i open Content Type Builder or UI Navigation in Production.

![image](https://user-images.githubusercontent.com/26602700/156200419-52f40e22-37ed-4382-99ec-18fe62cfa36d.png)

![image](https://user-images.githubusercontent.com/26602700/156200585-70bc91d0-8d37-4f43-ba81-dcb6ed7708d6.png)

I run Strapi 4.1.1 and this Plugin in 2.0.5

[2022-03-01 16:38] cyp3rius commented on #166
@luxterful this is native strapi feature which we are using. Please find a help on global channel. Its not plugin specific.

It appears because our plugin requires restart if you are changing some settings which are impacting GQL.

[2022-03-01 16:38] #166 closed

[2022-03-02 17:28] luxterful commented on #166
I did not use GQL features at all.

[2022-03-02 18:14] cyp3rius commented on #166
@luxterful Two, but plug-in supports it :) Thats the reason why you see such warning. It is not affecting plugin itself, or am I wrong and you are not able to use it at all?

[2022-03-03 17:19] yanniskadiri commented on #115
I had the chance to talk with @cyp3rius and he told me about this issue. Unfortunately, it's not compatible with our current offer. That being said, I'd like to tell you that our goal is to make RBAC part of the community edition in the future.

[2022-03-11 10:14] lansolo99 opened #170 "Can't create internal links: "no content type to select""
Hi,

Using the latest Strapi version (v.4.1.3), I have browsed the whole doc and other similar issues but can't figure out how to get my content type within the drop-down, which is greyed out :

<img width="600" alt="Screenshot 2022-03-11 at 10 49 48" src="https://user-images.githubusercontent.com/10405016/157845815-f09b69a1-f1c0-4dbd-a8e1-f123625246f3.png">

I brought a custom config in `plugins.

[2022-03-11 10:23] ltsNotMike commented on #170
Hello @lansolo99,

Since version 2.0.3 of our plugin, all settings are set through the settings page. The `plugins.js` file is used as a backup, so if you want to synchronize it with your application you have to restore settings through the settings page. More information about it is placed in [docs](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation#-configuration). Hope this will

[2022-03-11 11:07] cyp3rius commented on #170
@lansolo99 please go to `Settings -> Navigation Plugin -> Configuration` and click "Restore". It will then load plugin configuration from file to **Strapi DB Store**, because as @ltsNotMike said once Settings page has been introduced, also the way of configuration changed to more user friendly.

[2022-03-11 12:14] lansolo99 commented on #170
@cyp3rius Ah thanks, my bad, I confused the navigation plugin panel UI with the navigation plugins settings panel 🤭.
Sorry to have cluttered the issue board..
It's working properly now, I close the issue.

[2022-03-11 12:14] #170 closed

[2022-03-16 21:01] timothybennette8 opened #173 "Unable to install/build - @strapi/design-system/Text not found"
Apologies if this is not the right place to ask this - I'm having trouble installing the plugin.

I've tried installing the plugin via yarn and it doesn't run smoothly:
<details>
<summary>Yarn add warnings</summary>

[1/5] Validating package.json...

[2/5] Resolving packages...
warning strapi-plugin-navigation > react-intl > intl-messageformat-parser@5.5.1: We've written a new parser that's 6x fas

[2022-03-16 23:16] xantiagoma commented on #173
I'm having the same issue once I updated to 4.1.5.

[2022-03-17 02:05] mig-25 commented on #173
yeah, same here... it worked when I was on strapi 4.1.3 but not when I upgraded strapi to 4.1.5. As @timothybennette8 I tried too to install @strapi/design-system.
I am on Mac OS Monterey 12.2.1
Node v16.13.0
Yan 1.22.17
Strapi 4.1.5

[2022-03-17 08:12] cyp3rius commented on #173
Folks, fixed as part of `v2.0.6`

[2022-03-17 08:12] #173 closed

[2022-03-21 15:19] #124 closed

[2022-03-21 22:05] cortopy opened #177 "Drag & Drop not working in Firefox"
For quite some time I just thought that I was doing something wrong with drag & drop. I use Firefox as my main browser and it turns out that Drag & Drop only works in Chrome!

I'm not sure why this could be, but if it's not likely to be fixed, it could maybe mentioned in the README?

[2022-03-23 10:37] stengard opened #180 "save button is disabled for single type items"
Since the last release ([2.7.0](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/releases/tag/v2.0.7)) it is no longer possible to save a navigation item when the selected `contentType` is a single type.

The problem is that this code does not take into account that single types are internal but does not have any related data in the form object.

[code]

I think there are some oth

[2022-03-23 11:54] cyp3rius commented on #180
Fixed as part of `v2.0.8`

[2022-03-23 11:54] #180 closed

[2022-03-23 11:54] cyp3rius commented on #177
Fixed as part of `v2.0.8`

[2022-03-23 11:54] #177 closed

[2022-03-23 13:47] stengard opened #182 "issues with single types"
There still seems to be some issues with single types.

since 2.0.8, it's now again possible to create a single type navigation item (thanks 👍)

There still are some problems though.

#### Single Types are always shown as draft.

It does not seem that single types have `relatedRef.publishedAt`. I think that's why.

![chrome_sKxSRdByBk](https://user-images.githubusercontent.com/5670109/159714160-f2

[2022-03-23 20:09] maxsv01 opened #183 "Missing Query field Render in GraphQL Strapi V4"
I have enable access for render and renderChild in public permissions, but I haven't seen this query field in GraphQL Playground.

![image](https://user-images.githubusercontent.com/23117796/159783493-2dcea911-390f-4d15-84f1-f136bd67e522.png)
![image](https://user-images.githubusercontent.com/23117796/159784306-dd36e5a7-f7a2-4792-9ada-b3bcecf9f384.png)
![image](https://user-images.githubuserconten

[2022-03-25 16:31] aevarisak opened #184 "Settings page fails to render when using content types from a plugin"
Hi first of all thank you for this great plugin

But I have this issue where I have content types coming from a custom plugin. These content types are filtered out in the settings page.

Adding the plugin content types like this in config works fine and the navigation can be configured and rendered.

[code]

But when loading the settings page an error occurs since this content type is filtered out

[2022-03-28 07:13] cyp3rius commented on #182
Released as part of `v2.0.9`

[2022-03-28 07:13] #182 closed

[2022-03-28 09:20] cortopy opened #186 "Ordering feature is not exposed on tree rendering"
Even though one can order items in a navigation item, this order is not exposed in tree rendering. This has a double impact

- The `order` field is defined as `nonNull` in graphql schema, yet it's never returned on TREE leading to graphql requests failing if order is requested `Cannot return null for non-nullable field NavigationItem.order.`
- The tree returned from any API request does not match

[2022-03-28 09:36] cortopy opened #188 "`related.id` missing in graphql schema"
I was trying to get the `id` of a related item using graphql and realised that this isn't possible.

The reason for this is that in Strapi, graphql content types follow this structure:

[code]

When the types are merged using the config in https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/blob/master/server/graphql/types/navigation-related.js#L5, only the `attributes` fields are ad

[2022-03-28 09:46] cyp3rius commented on #188
@ltsNotMike can you please take a look on it?

[2022-03-28 10:29] #186 closed

[2022-03-28 15:02] cortopy opened #189 "Problem with 2.0.9 pagination and postgresql"
I just tried 2.0.9 and I'm getting this error in the backend logs when I try to access the frontend

[code]

I'm using PostgreSQL 13

This wasn't happening with earlier versions, so I suspect the problem lies in the changes done in https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/pull/185/files#diff-9ba71205ff2062647c32f47eebb1243330e0e2774f4f49bb26ab84644cb1c52f

[2022-03-28 15:33] cortopy opened #190 "Unable to create navigation with single type in 2.0.9"
I've found another regression with 2.0.9. Single types were working for me before but now I can't create any

If I create a new navigation item with single content type, I experience the following issues:

- The title of the related item overrides the title I've written
- I can't edit the title afterwards
- The relation seems lost, as when I click on edit it doesn't tell me which content it's rela

[2022-03-28 15:55] cortopy commented on #190
yes, I reverted to 2.0.8 as it was giving some issues. It's just a single content type, nothing unusual. It has the property `name` though, which I don't know if it was overriding something in the new version

I realised that it was even failing to save the item, and maybe that's why the frontend was behaving weirdly

[2022-03-28 16:01] cyp3rius commented on #190
Does your single type use Publish Flow?

[2022-03-28 16:23] cortopy commented on #190
None of my single types are using publish flow at the moment

[2022-03-28 17:01] Kinbaum commented on #189
I can confirm this in MySQL 8 as well. I tried upgrading from 2.0.8 to 2.0.9 to resolve issue #182 but after doing so, I get the following error:

[code]

[2022-03-28 17:18] cyp3rius commented on #189
Yep, Thats not compatible with v3 approach, do not update to v2.0.9.

I how to take it and fix by night today.

[2022-03-28 17:19] cyp3rius commented on #190
Ok so Thats the missed piece seems. Should be fixed by night today.

[2022-03-28 20:55] cyp3rius commented on #190
@cortopy `v2.0.10` has been just released. Check please if fixed your issue (I've tested it with number of single types and works).

If yes, please close the issue.

[2022-03-28 20:56] cyp3rius commented on #189
@cortopy, @Kinbaum `v2.0.10` has been just released. Check please if fixed your issues and close the ticket.

[2022-03-28 21:18] cyp3rius commented on #183
@maxsv01 there is a trick to do (we hope to solve it in the future or maybe Strapi will introduce plugin initialization ordering).

[code]

Put this pleas in your `config/plugins.js` and should work. Plugins are rendered by the installation order probably by default (that's my guess) but to use GQL with Navigation you must initialize our plugin.

[2022-03-28 22:28] Kinbaum commented on #189
Hey @cyp3rius I no long receive the error above, but I noticed that when I save a single type, the entity is actually removed. This doesn't happen when using a collection type

<img width="984" alt="Screen Shot 2022-03-28 at 6 17 18 PM" src="https://user-images.githubusercontent.com/6590356/160496376-113c788b-3649-4a5e-88b9-03087fd49d18.png">

<img width="1006" alt="Screen Shot 2022-03-28 at 6 18

[2022-03-29 17:14] cortopy commented on #190
@cyp3rius all working great with 2.0.10. Thanks for this!

[2022-03-29 17:14] #190 closed

[2022-03-29 17:14] cortopy commented on #189
2.0.10 it's working for me

[2022-03-29 17:59] Kinbaum commented on #189
@cortopy Do you have single types with publishing turned on? If so is that working for you?
When I press save, I notice that the `items[]` in the payload is empty:

<img width="746" alt="Screen Shot 2022-03-29 at 1 58 16 PM" src="https://user-images.githubusercontent.com/6590356/160675337-a4b0ce40-72a2-4a40-806b-29da163b9a9e.png">

[2022-03-29 18:11] cortopy commented on #189
My collection types have publishing on, but not the single types. Haven't tested with single types and publishing on

[2022-03-29 18:27] Kinbaum commented on #189
Ah ok. Single types won't show up for me unless publishing is turned on, but that doesn't do much good when the item is removed after saving

[2022-03-29 18:33] cyp3rius commented on #189
@Kinbaum If I get your issue properly the nested items are not saving? Can you validate if all of them are sent to the API?

Will check that end, maybe because of the `limit` property is set to 0 and is not returning values

[2022-03-29 18:36] Kinbaum commented on #189
@cyp3rius This is a top-level item and for this purpose, I've removed all other items. The entity does not persist after saving

[2022-03-29 18:42] cyp3rius commented on #189
I've tested it with publishing on and of single and Collection types so that must be something not related directly to this case. Let me dig into that a bit more. Some additional questions which might help me:

1. How many types you have got configured in navigation plugin?
2. Is it happening to all single types you've got?
3. In overall you've got massive amount of entities or not?

Thanks for co

[2022-03-29 18:45] Kinbaum commented on #189
Sure thing:

1. I have 3 types configured for this plugin (2 collection, 1 single)
2. I added another single type to test this scenario, this also has the same removal behavior
3. This is a relatively new project with less than 20 entities per collection.

[2022-03-29 18:57] cyp3rius commented on #189
Thanks a lot for that details. There is also a possibility that MySQL/MariaDB behaves differently than PostgreSQL in term sof ids / global ids as it works for @cortopy but not works for you @Kinbaum and the only diff is DB you selected.

Will keep you posted.

[2022-03-30 09:48] Nabellaleen opened #192 "Single types still can't be enabled in general settings with v2.0.10"
On my test server, I've only 2 singles types : `landing-page` and `landingpage`
They have no inter-type relations.

When I try do add one or both in the `Enable for collection(s)` parameter then save, the parameter is not saved and then the types are not displayed in the `UI Navigation / New item` popup

![Peek 30-03-2022 11-45](https://user-images.githubusercontent.com/3717607/160802938-44b0f9dd-

[2022-03-30 11:48] cyp3rius commented on #192
@Nabellaleen can you please check what response you're getting as the PUT and if there is nothing in the server logs? Just tested it and works on `2.0.10`

[2022-03-30 13:59] cyp3rius commented on #184
Introduced in `v2.0.11`

[2022-03-30 13:59] #184 closed

[2022-03-30 14:00] cyp3rius commented on #189
Made some fixes in `v2.0.11`, hopefully it will resolve your issue @Kinbaum . If not lets setup a screen share to better get the cause.

[2022-03-30 15:59] Kinbaum commented on #189
Just tried this version out as well and it still isn't working. Also, when clicking on the trashcan and then hitting save, this error displays:

[code]

I won't be able to screenshare, but I can provide you more information. I decided to downgrade to test other versions combinations. Here's what I found:

<details>
<summary>Strapi (4.1.3) - Nav (2.0.8)</summary>
<br />
<p>This is the first version

[2022-03-30 16:53] Kinbaum commented on #189
Just doing a bit of digging in the navigation service... by the time this is called the related element is undefined:

https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/blob/4366fef5edcb6e1adae808b12b33d84a568d72ba/server/services/navigation.js#L320

I get this as a response in my terminal

[code]

The `payload` just before this has the related item

[code]

[2022-03-30 17:16] cyp3rius commented on #189
That terminal error says more about the issue. Thanks a lot for digging, will secure that for failing and should work as expected.

[2022-03-30 19:49] cyp3rius commented on #192
I've reproduced your case @Nabellaleen.

Such thing happen if you've got Single Type defined but not saved. Try to fill type data and save it (don't need to publish).

Next version is going to warn you in settings, that because type is not "initialized" you can't use it.

[2022-03-30 21:42] cyp3rius commented on #189
I've fixed error from your latest posts in `v2.0.12` and forced saving Single Types relations with `id: 1` as seems on some MySQL drivers it wasn't working by default.

[2022-03-30 21:42] cyp3rius commented on #192
Should be fixed in `v2.0.12`.

[2022-03-30 21:59] Kinbaum commented on #189
@cyp3rius LGTM! Thank you for solving this.

[2022-03-30 22:01] cyp3rius commented on #189
Jeez, must grab a beer then :) The trickiest case with Strapi I ever had. Closing this one, thanks for cooperation @Kinbaum 👍

[2022-03-30 22:01] #189 closed

[2022-03-31 11:21] cyp3rius commented on #183
Closing as for now because of inactivity. If my last suggestion won't solve your issue, re-open please.

[2022-03-31 11:21] #183 closed

[2022-03-31 11:27] cyp3rius commented on #188
I've analysed your approach @cortopy  and I would like to go forward with it. As for typical type resolution, you're right that `id` is missing so wrapped type just for GraphQL would be an option even as a breaking change.

Would you like to create PR or should I place is on my / any of our engineers pipeline?

[2022-03-31 22:46] Nabellaleen commented on #192
Oh yeah, I see ! I'll check that tomorrow and tell you !

Thanks for adding a warning :)

[2022-04-01 16:42] Nabellaleen commented on #192
It is working !

[2022-04-01 16:43] cyp3rius commented on #192
Closing then :)

[2022-04-01 16:43] #192 closed

[2022-04-05 06:20] mariansimecek commented on #152
Hi,
I really like this plugin. Any chance that you implement this feature?
I really like the second idea. Same like **title** pulls from related entity.

[2022-04-05 06:21] cyp3rius commented on #152
@mariansimecek yep, we've got it in our backlog just after the i18n and custom metadata support :)

[2022-04-05 11:54] cyp3rius commented on #188
This one @cortopy , a wrapper type just for GraphQL to support providing the id of related item

[2022-04-05 12:45] cortopy commented on #188
so just to confirm, it's ok to change the REST responses too? I didn't find a way of "just" wrapping with a graphql type, the responses would need to change in this approach

[2022-04-11 06:03] cyp3rius commented on #188
Let me think about that :) As I seen it the additional type for GQL didn't impact REST. But I might lost something between.

[2022-04-12 00:36] johnsardine opened #196 "Sidebar menu not displaying"
Hello, I'm using the latest version (2.0.12) and the Navigation menu is not appearing on the left sidebar.

As you can see in these screenshots, the plugin is active and I can see the Navigation and Audience types.

Can you share some tips on how to debug this problem? I'm new to Strapi.

Thank you

<img width="1052" alt="Screenshot 2022-04-12 at 01 33 17" src="https://user-images.githubuserconten

[2022-04-12 00:51] johnsardine commented on #196
I'm sorry, I read in the docs about the rebuild of the admin, but since strapi reloads automatically, I was expecting something more automatic. Closing as it's now working.

If you're facing the same issue, be sure to run `npm run build` and then start the server again

[2022-04-12 00:51] #196 closed

[2022-04-13 15:01] webburo-spring opened #200 "Cannot load the Navigation part of Strapi Dashboard"
The navigation section under settings works fine, but if I try to open the seperate Navigation panel it doesn't load. On the server I get the following error:

[code]

Error happens at async Object.get (/node_modules/strapi-plugin-navigation/server/services/navigation.js:33:24)

I am using the following dependencies for my strapi app:
[code]

About a week ago everything worked fine. I changed the

[2022-04-13 20:53] AreeseDT opened #201 "GraphQL Flat render does not resolve related items"
The `renderNavigation` query is not resolving related content items when the NavigationRenderType is FLAT. This causes any navigation item that has related content to be returned as null.

Error returned:
[code]

[2022-04-13 21:11] AreeseDT opened #202 "GraphQL NavigationItem type has incorrect type for parent"
The GraphQL type for `NavigationItem` defines parent as an Int. When executing the `renderNavigation` query with render type of `FLAT`, errors are thrown due to parent being an instance of `NavigationItem`. If the render type is `TREE` or `RFR`, the value of parent always appears to be `null`.

Relevant type from the graphql schema:
[code]

Error message when render type is `FLAT`:
[code]

[2022-04-14 07:48] cyp3rius commented on #201
@AreeseDT have you configured plugin using `Settings -> Navigation plugin -> Configuration` ?

I just did test on the most recent version and works as below:

[code]

[code]

I'm working on Readme.md updated to make it more concrete.

[2022-04-14 17:38] AreeseDT commented on #201
The issue only occurs when `type` is `FLAT`.

[code]

[2022-04-20 09:26] webburo-spring commented on #200
Just tried the latest version of the plugin and it works! Thanks. Thought I tried that before, but apparently not...

[2022-04-20 09:36] ltsNotMike commented on #200
Great to hear that! 🎉 Closing the issue.

[2022-04-20 09:36] #200 closed

[2022-04-22 07:09] cyp3rius commented on #202
Fix released in version `2.0.13`

[2022-04-22 07:10] cyp3rius commented on #201
Fix released in version `2.0.13`

[2022-04-22 07:10] #201 closed

[2022-05-04 21:08] maximeMD opened #210 "Can't add multiple navigation container"
Hi there !

I don't know if it's just me or if there is currently no possibility to create another Navigation container like the docs seems to put in the Features section.
It also seems that this feature is implemented in plugin-navigation v2.
https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/issues/142

![image](https://user-images.githubusercontent.com/25101871/166825946-abcf273f

[2022-05-05 13:57] Kinbaum commented on #90
@cyp3rius Do you have an ETA on when this will get released?

[2022-05-05 13:59] Kinbaum commented on #90
Fantastic!

[2022-05-05 14:41] cyp3rius commented on #90
Released as `v2.1.0-beta.1`. Use and test with respect, it's beta ;)

[2022-05-05 14:42] cyp3rius commented on #210
Hello @maximeMD ,

We don't have a dedicated form to create navigations :) It will come soon.

As for now you should use the `Content Manager -> Navigations` to create multiple instances.

[2022-05-05 15:18] Kinbaum commented on #90
Good stuff!

First thing I noticed is in the GraphQL query, the locale type is set to `String` when it should be set as `I18NLocaleCode`

[2022-05-05 16:18] Kinbaum commented on #90
When using a wrapper element in the beta, it throws this error and my UI crashes

<img width="1392" alt="Screen Shot 2022-05-05 at 12 17 50 PM" src="https://user-images.githubusercontent.com/6590356/166967644-24d79c4d-e5e1-4312-af07-7d267cc3e5ee.png">

[2022-05-05 18:32] maximeMD commented on #210
Thanks for your help, I didn't think to check in the Content Manager 😄

I just made a PR for doc, feel free to take it or not !

[2022-05-05 18:32] #210 closed

[2022-05-06 00:56] mrchristophy opened #212 "Make URL field not mandatory/automatic/hidden when using internal source"
When I'm referencing content in a menu item I get the url from the slug field in the attached entity type, making the url field redundant. How can I disable this?

If I'm allowed, can I ask a few other questions:

1 - What does "attach to menu" do? All I can see is that it sets the menuAttached variables in the response.
2 - Am I able to add custom fields to menu items?

Thanks, and sorry if I've

[2022-05-06 10:40] ltsNotMike commented on #212
0. Unfortunately, there is no way of disabling the URL field. This feature is being discussed [here](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/issues/152), any updates on this topic will be posted there.
1. Attach to the menu is a flag that you can use when consuming navigation. You can read more about it [here](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigat

[2022-05-09 16:21] CodeVoyager commented on #90
Hi @Kinbaum a PR to fix one of reported issues is created. Have a look, please.

[2022-05-09 16:26] Kinbaum commented on #90
LGTM

[2022-05-10 06:44] cyp3rius commented on #188
@cortopy it has been releases as part of `v2.1.0-beta.1`

[2022-05-17 00:55] sapkra commented on #92
![image](https://user-images.githubusercontent.com/8087568/168705577-32b8aa36-d64c-49d1-9dc8-b519a65fe76d.png)

Confirmed when trying to edit a nav item. Initially saving it works fine though.

[2022-05-17 07:17] ltsNotMike commented on #92
Hi @sapkra, can you please provide version of node, strapi and navigation plugin that you are using.

[2022-05-17 09:52] sapkra commented on #92
@ltsNotMike

strapi-plugin-navigation: 2.1.0-beta.1
node: 16.15.0
strapi: 4.1.10

[2022-05-23 17:54] everythinginjs opened #218 "web hook for navigation"
Hello there,

I am building an Strapi-Gatsbyjs application and using a source plugin to get navigation UI data into gatsby graphql nodes.
I am also using Netlify web hooks to rebuild Gatsbyjs on each change in Strapi.
Everything works great but when I change something in navigation UI plugin web hook does not trigger. how can I handle this for navigation UI ?

would be appreciated for any hints 🙌.

[2022-05-23 17:55] everythinginjs commented on #218
Oh there already an issue for that so I closed it.

[2022-05-23 17:55] #218 closed

[2022-05-23 17:56] everythinginjs commented on #79
Hello @cyp3rius  is there any news on web hooks for navigation UI ?

[2022-05-23 18:41] ltsNotMike commented on #90
@mmathys Can you provide more context? What steps are there to reproduce? Do you have i18n enabled? Is this on a fresh installation or on a project migrated from another version? I'm investigating this issue but could not reproduce this error.

[2022-05-24 08:26] ltsNotMike commented on #212
Closing due to no response. Please reopen if needed.

[2022-05-24 08:26] #212 closed

[2022-06-07 00:21] sapkra opened #223 "Cannot save external source: Cannot read properties of undefined (reading '__collectionUid')"
Using the latest beta the frontend crashes if I'm trying to save an external source or wrapper element.

<img width="828" alt="image" src="https://user-images.githubusercontent.com/8087568/172269958-e159f732-32a0-4c9d-80be-0507eb87339f.png">

<img width="619" alt="image" src="https://user-images.githubusercontent.com/8087568/172270052-cf162951-c2ad-4f21-bf7e-8b9e809e8717.png">

[2022-06-08 09:00] galago opened #224 "Order not working in FLAT format"
I wonder why FLAT formatting is not returning the navigation in the order specified by the UI, neither possible to use the order field in RenderNavigation...

I can see it works with TREE but I'm working with FLAT.

Any plans to fix that bug soon?

[2022-06-08 13:20] konhi opened #225 "Custom fields"
I'm using this plugin in [my project](https://github.com/ElektronPlus/school-website), and I love it! It has a really simple and pretty interface for creating navigations - I couldn't imagine creating nested navigations without it. It's a must-have for every flexible Strapi-based website.

**Is there any possibility to add custom fields for items?**
- If so, how to do it?
- If not, what should I d

[2022-06-10 09:44] SimoneCarnio opened #227 "Forbidden with Authorization header"
I cannot access navigation when i pass the Authorization header.
I've tried to enable the render permission to the Authenticated role but it doesn't work.

I'm missing something or it's a bug?

[code]

[code]

[2022-06-12 07:40] whatcoteam commented on #79
Hey @cyp3rius, I have tried both beta versions and as a conclusion types like tree, flat, rfr do not work in those version.

[2022-06-13 02:38] skyclb opened #230 "Single Type with multiple locale crashs TREE and RFR api view"
In my project i experienced the follow error. In my case, it seems to happen when having setup multilang navigation and single type for atleast two languages (did not test on a fresh install). After creation when calling the api with `type=TREE`, i receive below error.

Versions
@strapi/plugin-i18n: 4.1.12
@strapi/strapi: 4.1.12
strapi-plugin-navigation: 2.1.0-beta.1

**Update:**
It seems that thi

[2022-06-13 17:12] skyclb opened #232 "Feature Request: Parent item attribute value of menuAttached should not cascade on childrens"
Currently the cascading of the menu boolean on all childrens is limiting the use of `menuAttached`. In my particular use-case, i am using the navigation plugin for my breadcrumbs and menu.

Let me further explain the issue with an example:

1. Imagine you have three pages: `About us` `Team` `Vision`

2. You want to build the structure inside the plugin as the following hierarchy (to cover breadcru

[2022-06-14 19:27] skyclb commented on #90
I think they are wrong named and should be opposite, because `2.1.0-beta.1` has more recent changes and looks more advanced than `2.1.0-beta.2`. Or am i wrong?

[2022-06-17 07:27] cyp3rius commented on #230
@skyclb thanks for your contribution. Released as part of major version `2.1.0`

[2022-06-17 07:27] #230 closed

[2022-06-17 07:27] cyp3rius commented on #188
@cortopy fix released as part of major version `2.1.0`

[2022-06-17 07:27] #188 closed

[2022-06-17 07:29] cyp3rius commented on #92
@sapkra fix released as part of major version `2.1.0`

[2022-06-17 07:29] #92 closed

[2022-06-17 07:35] cyp3rius commented on #90
Released as part of major version `2.1.0`

[2022-06-17 07:35] #90 closed

[2022-06-17 07:36] cyp3rius commented on #79
@whatcoteam there was a change for those enums because of GQL consistency. You must use `FLAT`, `TREE`, `RFR`

[2022-06-17 07:36] #79 closed

[2022-06-17 07:36] cyp3rius commented on #79
Released as part of major version `2.1.0`

[2022-06-18 13:24] chioio commented on #227
### Env

* @starpi/strapi v4.1.12
* starpi-navigation-plugin v2.1.0

### Permission in public

<img width="617" alt="image" src="https://user-images.githubusercontent.com/36913769/174439462-9bb18fe9-1e45-4699-bbd6-c0d5a94522cf.png">

### Error
[code]

**! When I use the strapi in `v4.2.0`, the roles page can't open, like this issue [plugin-users-permissions gives white screen](https://github.com/s

[2022-06-19 03:50] chioio commented on #227
I think you can enable permission for public, and try to get by public, and then find the problem in auth permission.

[2022-06-20 07:25] ltsNotMike commented on #232
Hello @skyclb,

Do you think a custom field of type boolean would satisfy this use case?
If so then in version 2.1.1 there will be full support for custom fields. These fields will not propagate state down the tree so there will be no issue like you experienced with `menuAttached`.

[2022-06-22 03:22] mattmillen888 opened #238 "error: Expected New to be a objectType, saw GraphQLScalarType"
When i turn on navigation in plugins.js i get this error::

module.exports = ({ env }) => ({
  navigation: { enabled: true }, /// This one
  graphql: {
    enabled: true,
    config: {
      endpoint: "/graphql",
      shadowCRUD: true,
      playgroundAlways: false,
      depthLimit: 7,
      amountLimit: 100,
      apolloServer: {
        tracing: false,
      },
    },
  },
});

The Error::::

[2022-06-22 03:43] mattmillen888 commented on #238
It seems like since i updated to 2.1.0 it no longer shows in admin panel. is this the reason im getting the error because it is no longer there?

[2022-06-23 06:29] mattmillen888 commented on #238
I managed to solve this by just clearing out the old menu on a backup and starting again

[2022-06-23 06:29] #238 closed

[2022-06-23 09:07] mikadev opened #239 "Not able to retrieve image"
It is currently not possible to retrieve media (image field)

**Strapi call with populate result**
![image](https://user-images.githubusercontent.com/3314041/175261765-f08a52e5-dbc5-48a2-87e3-7be7c9841bde.png)

**Ui navigation call without image attribute**
![image](https://user-images.githubusercontent.com/3314041/175263068-a622648b-acd0-4cf1-8f73-147d19506bf6.png)

Please add ability to use [pop

[2022-06-23 09:09] cyp3rius commented on #239
@mikadev checking the url you're using seems not our plugin ;) Are you sure you're referring to the right one?

[2022-06-23 09:12] mikadev commented on #239
I update the ticket the first call is just a strapi call with populate parameter

[2022-06-23 09:14] cyp3rius commented on #239
Have you set proper fields to population in `Settings -> Navigation Plugin -> Configuration`? Each of Collection / Single Type got such possibility.

[2022-06-23 09:15] mikadev opened #240 "Take into account strapi permissions"
For related object take into account strapi permissions this is currently not the case even if it not allowed relational objects will be filled

[2022-06-23 09:19] mikadev commented on #239
Yes of course it is because image is not a 'classic' relation with strapi

In this exemple list is ok but image no and there is nothing related `Settings -> Navigation Plugin -> Configuration`
![image](https://user-images.githubusercontent.com/3314041/175264285-fd5dc26a-ca36-4b59-a824-d7c7744efd9c.png)

[2022-06-23 09:19] cyp3rius commented on #240
@mikadev can we ask for an examples?

[2022-06-23 09:22] SimoneCarnio commented on #227
Paused the project, I'll work on it next week and I'll see. In my use case I can also use the public access also if it's not convenient

[2022-06-23 09:23] cyp3rius commented on #239
Yep, seems thats a case. Registering the bug then to extend supported fields types.

[2022-06-23 09:23] mikadev commented on #240
**Here list is displayed by the plugin:**
![image](https://user-images.githubusercontent.com/3314041/175264898-eda126de-031e-433d-8e34-2b8d85f9e0e5.png)

**Strapi permissions:**
![image](https://user-images.githubusercontent.com/3314041/175265123-35a9d539-a857-40e2-b58f-f4b31b1c174c.png)

**Strapi call no list appear without permissions**
![image](https://user-images.githubusercontent.com/3314041/

[2022-06-23 09:23] cyp3rius commented on #239
@ltsNotMike can you take a look?

[2022-06-23 09:25] cyp3rius commented on #240
Registering as an enhancement to be taken.

[2022-06-23 09:27] cyp3rius commented on #227
The Authenticated access is also supported as that is Strapi default (we don't have any logic on top). Worth to verify.

[2022-06-23 09:49] jozef-drabik opened #241 "Fetch multiple navigations"
This is more like an question. Is it possible to fetch more than 1 navigation menu ? And if it is how ?

Thanks for reply

[2022-06-23 10:42] ltsNotMike commented on #239
I will try to make a fix asap 🙂

[2022-06-23 16:17] SimoneCarnio commented on #227
Updated strapi to 4.2.0 and strapi-plugin-navigation to 2.10 and now:

- public permission works as aspected as before (if I disable render and don't pass Authorization header -> 403 error)

- passing the Authorization header now works always (no more 403 even with the render permission disabled in authenticated role)

[2022-06-30 09:29] Epenance commented on #227
Also experiencing this in dev

[2022-07-01 08:24] ltsNotMike commented on #241
Hi @jozef-drabik
Unfortunately, it is not possible. I will flag this as a feature request so maybe we will add this to the backlog in the future.

[2022-07-01 09:52] NeekoGta opened #244 "Extend translations"
Hi,

I would like to know how to extends / override the translations? (https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/tree/master/admin/src/translations)

Thank you !

[2022-07-01 09:59] ltsNotMike commented on #244
Hi @NeekoGta,

If you would like to extend our translations please feel free to open a pull request with your changes ( e.g. [here](https://github.com/VirtusLab-Open-Source/strapi-plugin-comments/pull/131/files) ). I don't think there is a good way of overriding them so the best and fastest way is to open PR.

[2022-07-01 10:03] NeekoGta commented on #244
Hi @ltsNotMike

This is what I intend to do but I would like to know how to add / modify before =)

[2022-07-07 07:06] artzyres commented on #177
Currently experiencing the same issue with the latest version, drag & drop works in Chrome, but seems not to work in Firefox.
Firefox version is 102.0
Plugin version is 2.1.0

[2022-07-11 01:23] jclaveau opened #246 "Render API always return a Generic template"
When a template component is created for a collection content type (repeatable to be an array) having the right `templateName` option, the rest api (TREE or RFR) always return a `Generic` template.

This is first due to a missing `populate: { template: true },` during `templateNameFactory()` call but, once this fixed, there is another bug making the `__component` entry missing https://github.com/s

[2022-07-12 15:11] ltsNotMike commented on #244
## Adding new locale
Customizing plugin's locale works the same as customizing strapi admin. You need to create a`src/admin/app.js` file with the configuration of your choice.

eg.
[code]
All the keys for the translation map can be found in mentioned [translation file](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/tree/master/admin/src/translations) for our plugin. However, if

[2022-07-13 11:30] ltsNotMike commented on #223
Hello @sapkra,

Can you confirm if the issue still persists? It was fixed before releasing from the beta so it should not appear in versions >= 2.1.0

[2022-07-13 13:49] SimoneCarnio commented on #227
I tried right now to create another api token and it works, the previous one still works with other strapi calls but not with call to the navigation endpoint.
(The previous token for what I rember was created before installing the plugin).
Will do another test later on both dev and production server

[2022-07-13 18:50] Epenance commented on #227
I just retested, it seems that with a read only API key i cannot auth, but with a full access its possible, is this intended?

[2022-07-13 20:30] jclaveau commented on #246
Mmmm, as this https://github.com/strapi/strapi/issues/13738 never existed I wonder how it ever worked...

[2022-07-13 21:31] #223 closed

[2022-07-15 06:47] mattmillen888 opened #249 "Issue With saving Menu"
Im having an issue where i create the first menu and save which is fine. then i create a nested item and save then it disappears. but when i look in the database it has saved it?

Any ideas why this might be? only i cant use the plugin right now with this behaviour.

Below are my versions:
node v14.19.1
npm 6.14.13
postgresSql 13

Dependencies
    "@_sh/strapi-plugin-ckeditor": "^1.1.0",
    "@str

[2022-07-16 23:44] mattmillen888 commented on #249
• We are not receiving any errors
• I deleted the menus and tried again. here are the screen shots

<img width="1335" alt="navigation_items" src="https://user-images.githubusercontent.com/25214970/179330880-c8d7c6b1-ded4-4aa0-9773-2c2626d91647.png">

<img width="363" alt="navigations_items_master_links" src="https://user-images.githubusercontent.com/25214970/179331565-b2e041ba-49c5-4ebd-ad76-cd8f0

[2022-07-17 00:27] mattmillen888 commented on #249
Whats interesting is I just completely created a new database from scratch using postgres and its not happening now. very strange

[2022-07-18 06:39] ltsNotMike commented on #249
It looks like it was some kind of faulty database. I will assume that it was related only to the database issue and close this for now. If you ever happen to reproduce this bug again please feel free to reopen it 🙂.

[2022-07-18 06:39] #249 closed

[2022-07-18 06:51] ltsNotMike commented on #232
Closing due to lack of response. Please feel free to reopen if needed.

[2022-07-19 09:22] ltsNotMike commented on #246
Hello @jclaveau,

With the `populate` fix you mentioned, the template name factory seems to work correctly. I'm not sure why in your case `__component` entry is missing.

Make sure to include your `templateName` entry in the options of your component. You missed that in the snippet you included in [strapi/strapi#13738](https://github.com/strapi/strapi/issues/13738).

[2022-07-21 19:37] Meljesson opened #251 "Extend Lifecycle hook"
I tried modifying the lifecycle hook on server/content-type/navigation-item/lifecycle.js
A simple console.log would not fire

[2022-07-22 10:44] krzysiekplesniak commented on #227
Good point =  full access works

[2022-07-22 14:12] ltsNotMike commented on #251
Hi @Meljesson,

I will need some more information to investigate this issue. Can you please provide me with:
- What version of strapi and our plugin are you using?
- Which option of extending content types have you used?
   - the content-types of the original plugin,
   - the content-types overriden by the declarations in the schema defined in ./src/extensions/plugin-name/content-types/content-typ

[2022-07-24 17:23] tansongchen opened #252 "How to define a title containing non-ASCII characters"
I would like to define a navigation where the `title` field is automatically pulled from the entity's `title` field, which contains non-ASCII characters. However when I tried to do this, clicking "Save" gives no response. Any ideas?

[2022-07-25 00:56] Meljesson commented on #251
Hi @ltsNotMike ,

I am using Strapi v4 and using the latest version of the plugin. I've solved the issue on my end.
The issue was that the format for lifecycle was still in the format of v3 of the plugin instead of v4 format.

<img width="550" alt="Screen Shot 2022-07-24 at 8 49 30 PM" src="https://user-images.githubusercontent.com/29881184/180673644-7c995c58-307f-4f33-9b12-10ac7b5a8f4e.png">

In

[2022-07-25 09:08] ltsNotMike commented on #251
Yeah, I just realized that our hooks are not even used since they have the wrong names and structure. I'll remove them in a refactor commit since they're unnecessary. Thank you for pointing that issue out.

In the future, if you want to customize the behavior of our plugin please do it through the extensions folder.  Or if we lack some functionality that you need, please feel free to open an issue

[2022-07-25 13:18] Meljesson commented on #251
For some reason, customizing the plugin through the extensions folder in Strapi V4 doesn't seem to do anything. My path is
./src/extensions/strapi-plugin-navigation/content-types/navigation-item/ and it doesn't work for both schema.json and lifecycles.js

[2022-07-25 15:11] ltsNotMike commented on #251
Try doing it with `./src/extensions/navigation/content-types/navigation-item` and it should work. This is because we register our plugin inside strapi as `navigation`. You can see what plugins names are by running strapi with yarn strapi console and looking through the strapi object.
<img width="566" alt="strapi_console" src="https://user-images.githubusercontent.com/20796806/180812923-a1b57770-22

[2022-07-25 15:49] Meljesson commented on #251
That seems to have worked. Though only for schema.json and not the new lifecycle structure for v4. But thanks for your help!

[2022-07-26 08:45] GeoffreyPicard commented on #239
Have you any news about this subject ?

[2022-07-26 16:36] Maxdola opened #254 "Mailto: Regex makes no sense"
The new Regex you've added for mailto makes no sense since you are only supporting TDLs with 2-4 characters.
.online for example has more....

[2022-07-26 18:30] Maxdola commented on #254
tel:+49121212 International Numbers also dont work

[2022-07-26 18:54] cyp3rius commented on #254
@CodeVoyager Can you please take a look on provided examples and lift those rules?

[2022-07-26 20:47] Maxdola commented on #254
Thanks @cyp3rius.

Also Some Domains including .DE allow äöü in the domain which is also not supported. Only if you use Punycode.

[2022-07-27 05:05] CodeVoyager commented on #254
Sure, will take care of this.

[2022-07-27 10:04] ltsNotMike commented on #252
Hello @tansongchen,

Could you please provide your strapi, node, and plugin version?
Also could please check if there are any errors on the browser console or the strapi console?
This info will help me in investigating this issue.

[2022-07-27 13:42] tansongchen commented on #252
I am using Node v16.16.0, Strapi 4.2.3, MySQL 8.0.29 and plugin 2.1.0. Unfortunately there is no error in strapi console or browser console when I tried to save a navigation item with Chinese title or let the title field to be pulled from the entity. There is simply no response. But maybe you can checkout the code here: https://github.com/viva-la-vita/cms , and here are the steps to reproduce:

1.

[2022-07-27 21:35] dentalux commented on #152
We would also really appreciate this feature! (We would you both options options on our projects, but mostly the second one).
I'm really glad for this plugin, I found it just now, and immediately tried if this feature is available. I hope it will fit our needs, because we tried to create navigations just by Strapi content types and relations in at least three different ways on different projects,

[2022-07-28 07:31] ltsNotMike commented on #152
I'm working this week on testing and finalizing a big bundle of features that will come in version 2.2. I hope that it will be available as a release next week.

[2022-07-28 13:32] cyp3rius commented on #251
Released as part of `v2.2.0`

[2022-07-28 13:32] #251 closed

[2022-07-28 13:33] cyp3rius commented on #239
Released as part of `v2.2.0`

[2022-07-28 13:33] #239 closed

[2022-07-28 13:33] cyp3rius commented on #225
Released as part of `v2.2.0`

[2022-07-28 13:33] #225 closed

[2022-07-28 13:33] cyp3rius commented on #224
Released as part of `v2.2.0`

[2022-07-28 13:33] #224 closed

[2022-07-28 13:46] ltsNotMike commented on #252
Thank you for the info.

I was able to find out what the issue was. This happens because slugify is unable to parse your non-ASCII characters. We created a fix for this but it requires you to add all non-ASCII characters to your navigation config file (see [docs](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation#properties)). This fix was introduced in version 2.2.0 so be sure you

[2022-07-28 13:46] #252 closed

[2022-07-28 13:48] ltsNotMike commented on #244
Closing. Feel free to ask questions or open if needed.

[2022-07-28 13:48] #244 closed

[2022-07-28 14:17] GeoffreyPicard commented on #239
Its not working for me.
Should we had something in the url of the REST API call ?
Can you had it in the documentation please ?

[2022-07-28 14:45] jclaveau commented on #246
Thank you!

[2022-07-28 14:54] tansongchen commented on #252
Thanks for your quick fix. I took a look at the solution but I am afraid it wouldn't be feasible for my case since the slugify plugin you used doesn't support the entire Chinese language (which could use thousands of characters), and I am not able to add a huge table to config files. Things I am thinking is:

1. Is it possible to provide a custom function for slugifying instead of a lookup table?

[2022-07-29 07:14] ltsNotMike commented on #239
We implemented two options. One is to include `populate=field_name` in your query. The other one is fixing the lacking media fields on Settings Page. You can now set media to be populated every time through the Settings page.

[2022-07-29 07:18] ltsNotMike commented on #252
1. I will mention this to my team because at the moment the only way is to provide the lookup table.
2. This slug is used "under the hood". That is why if you add any ASCII character to your title it will save and display all (even non-ASCII) characters.

[2022-07-29 08:10] GeoffreyPicard commented on #239
It doesn't work for me.
See the exemple:

<img width="868" alt="Capture d’écran 2022-07-29 à 10 09 07" src="https://user-images.githubusercontent.com/20857213/181714469-6201b98e-bc50-46b7-9074-b2e9b843e1c1.png">

I cannot select the "image" field to populate

<img width="1050" alt="Capture d’écran 2022-07-29 à 10 10 00" src="https://user-images.githubusercontent.com/20857213/181714650-fa7a236a

[2022-07-29 08:12] ltsNotMike commented on #239
Are you sure that you are running version 2.2 of our plugin?

[2022-07-29 08:57] GeoffreyPicard commented on #239
Yes i'm running with 2.2

First solution with populate= field_name work fine.
I've to write it for every field

Second solution still not working
<img width="1041" alt="Capture d’écran 2022-07-29 à 10 57 22" src="https://user-images.githubusercontent.com/20857213/181723517-253ea71b-fcf2-4326-aa07-baf37bee155a.png">

[2022-07-29 09:43] ltsNotMike commented on #239
Have you tried rebuilding the project with `yarn build`? If that doesn't help, please try clearing .cache folder and building the project once again.

[2022-07-29 12:45] CodeVoyager commented on #254
Hi @Maxdola

I prepared new PR that will address some of your requests. PR is linked.

One feature that we will not implement at this point is extending logins and domain names to allow non-ascii characters. Adding all of the would be time consuming and may introduce new bugs or allowing everything that is not a space character would lax regex too much. Since we try to cater to wide audience and n

[2022-07-29 14:40] GeoffreyPicard commented on #239
It work by doing a yarn build :) Thanks !

[2022-07-29 17:10] tansongchen commented on #252
I tried adding a in-file look up table as a workaround (see https://github.com/viva-la-vita/cms/blob/f972de50b81e72d663a6aa27452cae67d8f22837/config/plugins.js#L1 ), a little awkward but working fine on my side. Feel free to let me know if there are any better solutions!

[2022-07-29 18:28] kzrodrigo opened #257 "Audience disappears from items when expanding/collapsing them and saving"
Whenever I expand/collapse an item the save button gets enabled, and if I save, the item looses all set audiences.
This happens both in internal and wrapper items.

![H12bYplSFQ](https://user-images.githubusercontent.com/48213510/181821999-89b759da-22a1-4cbd-af2c-6735e1f45b96.gif)

[2022-07-29 18:28] Maxdola commented on #254
Hi,
Thank you for adjusting the Regex.

But I have to admit I don't agree a 100% with your second statement. I understand the reasoning behind your statement. But you are making life harder for people with special domains, which are still not 100% supported and the Punycode version just does not look good when you hover over it.

But nevertheless, I think you will find a solution for it in the fut

[2022-08-01 01:58] matthewbecker1990 opened #258 "Can't select Slug field as the Path Default field"
![image](https://user-images.githubusercontent.com/6112221/182057892-3b8bf31b-0bcc-4911-8e77-38e69694ce71.png)
![image](https://user-images.githubusercontent.com/6112221/182057971-a576cc16-6999-4727-9d52-6d9e9eaf82ae.png)

[2022-08-01 05:33] matthewbecker1990 opened #259 "Drag + drop no longer working to reorder menu items"
v2.2.0
Strapi v4.3.0
Firefox

[2022-08-03 14:32] cyp3rius commented on #254
We will think about such possibility @Maxdola, but as for now and taking most of use cases extended regex validation should work. Already merged and should be released by end of this week.

[2022-08-03 14:56] CodeVoyager commented on #252
Hi @tansongchen,

We want to try another approach. It should give you space to handle your issue in more general way. And with use tools of your liking. More details at https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/pull/262.

[2022-08-03 21:36] tansongchen commented on #252
@CodeVoyager Looks good to me! Will give a try once it get merged.

[2022-08-05 12:23] cyp3rius commented on #259
Fixed in version `2.2.1`.

[2022-08-05 12:23] #259 closed

[2022-08-05 12:23] cyp3rius commented on #257
Fixed in version `2.2.1`.

[2022-08-05 12:23] #257 closed

[2022-08-05 12:24] cyp3rius commented on #258
Fixed in version `2.2.1`.

[2022-08-05 12:24] #258 closed

[2022-08-05 12:24] cyp3rius commented on #254
Released as part of `2.2.1`

[2022-08-05 12:24] #254 closed

[2022-08-05 12:25] cyp3rius commented on #227
Closing the issue as per solution above.

[2022-08-05 12:25] #227 closed

[2022-08-05 12:25] cyp3rius commented on #140
Closing as we're no longer going to maintain `v3`.

[2022-08-05 12:25] #140 closed

[2022-08-05 12:27] Epenance commented on #227
@cyp3rius I wouldn't say this is solved as its not possible to fetch the menu without a full access key which is not what you would like to use in production from my understanding.

[2022-08-05 12:30] cyp3rius commented on #227
@Epenance plugin implementation doesn't care about type of token provided, so if Strapi and it logic allows access, then it is going to work. I would rather try to raise an issue with their repo and check for the settings solution. As an authors of plugin we're reusing the output of Context, nothing more.

[2022-08-05 12:31] Epenance commented on #227
Fair enough, being new to Strapi it just seemed odd and assumed it would be the plugin since its ilogical behaviour.

Have a great weekend.

[2022-08-05 15:08] dmitrysmagin commented on #152
I also second that feature.
In case of internal links, collection types usually contain slugs which will form the final url of the page.
That's why having separate url entry field is redundant.
In my project I have to either enter bogus data into url field when I have internal links or hack the package to ignore identical '/' urls.

[2022-08-06 11:05] ltsNotMike commented on #152
@dmitrysmagin In the latest version of the plugin you should be able to configure field that will be automatically passed as internal path. This way you don't have to care about populating path field.

[2022-08-06 14:00] dmitrysmagin commented on #152
@ltsNotMike Thanks, you were right.
Though, url and title fields are not filled instantly when you choose Content Type and Entity, but only after you press Save on the form. And more: once those fields are auto-filled, they are not re-filled when you change the Entity, you have to delete them first prior to saving.
Dziękuję za pomoc.

[2022-08-08 06:52] #115 closed

[2022-08-08 13:12] mcnaveen opened #264 "How can I render all the items from a particular Content-Type?"
Can I render all the items from a particular content type as a drop-down menu?

Right now I can choose only one entity. How can I make it display all?

![image](https://user-images.githubusercontent.com/8493007/183425643-fe66ce98-dcfa-4c64-a71a-108bb7b25893.png)

[2022-08-08 17:29] nimame opened #265 "Same entity in multiple places within the same navigation"
I would like to link the same page in different places within my navigation, which I think is a fairly common use case.

However, it seems it is not possible, since in the config UI, once a page has been added to a navigation, it cannot be selected anymore from the entity field.

Is there a way to work around this limitation? Are there plans to relax this constraint in future versions?

[2022-08-10 12:13] ltsNotMike commented on #264
Hello @mcnaveen
Unfortunately, there is no possibility of attaching more than one entity to the same navigation item.

[2022-08-10 12:23] mcnaveen commented on #264
Oh. Let me find another way. Thank you.

[2022-08-17 10:34] rimallo commented on #249
I am having similar issue with v4.3.2 and mysql.

1. Choosing menu to edit (right top).
2. Creating first item.
3. Save.
4. Creating nested item. Click save in modal.
5. Save on the top right near chosen menu - disabled.
6. Reloading page - no saved items.

Console clean.

[2022-08-17 10:39] rimallo commented on #249
... tried to re-enable the topmost save button in console - no luck. looks like it has no click listeners binded to it.

[2022-08-17 12:30] ltsNotMike commented on #249
Hi @rimallo.
This seems to be unrelated to the issue matt was having. I will look into your issue asap.
Could you please provide the plugin version that you are running?

[2022-08-19 07:59] lucaay opened #267 "Can't save added items"
1. Add 1 or more items to UI Navigation
2. Save button stays grayed out.
![image](https://user-images.githubusercontent.com/32814024/185572034-da0dc5d1-6c94-4b8f-a72c-389bdf211e18.png)

TRIED:
1. Uninstall the plugin and install it again (no effect)
2. Create manual config inside config/plugins.js by following the docs (no effect)

[2022-08-19 10:15] ltsNotMike commented on #267
Hi @lucaay
I'm looking into the issue.
Could you please provide:
- Strapi version
- Plugin version
- Node version
- Database type
It will help me with reproducing this bug.

[2022-08-19 12:46] lucaay commented on #267
Hi @ltsNotMike. The informations you asked for:
Strapi Version: 4.2.2
Plugin Version: 2.2.1
Node Version: v16.15.1
Database type: sqlite

[2022-08-22 06:51] ltsNotMike commented on #267
Unfortunately, I wasn't able to reproduce this on my side. I will need some more information 🙂

- Did you start this project on version 2.2.1 of our plugin?
- Is it possible to provide screens or video of items you are trying to add?
- Could you provide a screen or snippet of your config?

[2022-08-22 10:11] lucaay commented on #267
1. Yes, i tried to but i wasn't able to click on save.
2. https://youtu.be/plrd5KsqoM0
3. In config/plugins.js i have nothing related to this plugin
![image](https://user-images.githubusercontent.com/32814024/185895203-85c98b28-ce1a-4f3e-ab0e-1c9eac35c18f.png)
![image](https://user-images.githubusercontent.com/32814024/185895414-0a4fb7b6-c07a-4230-bbe7-bf3c7fa2460a.png)

[2022-08-23 08:25] drazik commented on #267
I have the same problem on v2.0.13. In my case, I could create some items when I created the navigation and some items a few days ago. But now the save button is always disabled.

[2022-08-24 09:15] ltsNotMike commented on #267
In your video @lucaay, you add internal items without providing a related field. This causes the navigation validator to block saving capability.

This is still a bug because no error message is provided. I will fix the error display asap, but please verify that you can save navigation with items that have the related field filled.

@drazik could you also provide a screenshots or video of your pro

[2022-08-24 12:32] lucaay commented on #267
well, it's working now 🥳. thanks @ltsNotMike !

[2022-08-24 12:59] #267 closed

[2022-08-24 19:18] #264 closed

[2022-08-31 12:16] danielegustoids opened #273 "Rest api"
Hello! it seems that a token with "read-only" permissions is not enough to consume the rest /api/navigation/render/2?type=tree
it is needed a full access token, using it via GET my expectation would be to use a read-only token.

[2022-09-01 18:39] jimmyjamieson commented on #273
I'm getting this issue as well. Works if i directly go in the browser, but calling the API front front-end causes an internal server error. Added the public permissions, but nada

[2022-09-04 13:16] plcdnl opened #274 "Impossible to manage navigation in strapi 4.3.6"
After installing strapi-plugin-navigation i can't see it in strapi dashboard

[2022-09-04 13:25] cyp3rius commented on #274
@plcdnl have you followed docs and done the `yarn build`?

[2022-09-04 13:26] plcdnl commented on #274
I'm so sorry. This was the problem!

[2022-09-04 13:26] #274 closed

[2022-09-07 04:27] mmange opened #275 "Custom Fields not working"
Hello,

Thanks for making and sharing this plugin. I am trying to add some custom fields to the menu but, they are not working or showing up.

I have added  a custom field for eg.

<img width="1371" alt="image" src="https://user-images.githubusercontent.com/314863/188788553-2254e7fe-a28c-4bbd-83f4-ce4c63a74fcf.png">

When I edit any navigation item - I don't see the custom fields

<img width="814"

[2022-09-07 08:21] ltsNotMike commented on #275
Hello @mmange,

Each custom field can be enabled and disabled in the settings. Please make sure you have enabled the custom fields you want to use. Meanwhile, I will add a fix so that all custom fields are enabled by default.

[2022-09-07 11:14] cyp3rius commented on #273
We will verify that why default Strapi auth model doesn't allow to access plugin endpoints.

[2022-09-07 13:29] davefv opened #276 "Searching in navigation structure should be case insensitive"
Hi!

I think that searching in navigation structure should be case insensitive, because it's common to search writing in lowercase only.

Thank you for share this amazing plugin!

[2022-09-08 00:27] mmange commented on #275
@ltsNotMike - duh..My bad! I guess I missed that small enabled/disabled icon. Thanks for the quick response, I am able to see the custom fields now.

[2022-09-08 12:33] pattenp opened #277 "Default path not working with Single Types"
Hello,

I tried to create navigation with items related to single types. In the settings screen, I selected a field in the single type to use as the default path. When saving navigation item path gets set to undefined.

### Screenshots
![image](https://user-images.githubusercontent.com/5407221/189118196-a9cad59a-97e1-4cd5-90fa-f771edd6a3c6.png)
![image](https://user-images.githubusercontent.com/54

[2022-09-08 12:47] #275 closed

[2022-09-11 09:12] tranlehaiquan opened #278 "Ability to create a internal link without related Entity"
Hi Navigation's author,
Use case: I have a page name News, it will list all news and It's don't have related entity just need url /news.
Do you think this possible?

[2022-09-14 14:21] dannyghub opened #280 "Fetch Audience data from Content API"
Hi,

How do I fetch data from the 'audience', here's an example of the response in API:

[code]

I cannot see any way, using the Content API to fetch the content from the 'audience'?

[2022-09-15 10:05] ltsNotMike commented on #278
Hi @tranlehaiquan,
Have you tried using wrapper elements? I think they will help you with reaching the goal of your use case.

[2022-09-15 12:45] tranlehaiquan commented on #278
HI @ltsNotMike
Got it, thank you.

[2022-09-15 12:45] #278 closed

[2022-09-19 10:23] skyclb commented on #232
Hi @ltsNotMike,

Sorry, I forgot about this issue. Thanks for you reply, i think its not an issue with the field but more how the field is filled with data from the plugin itself. I took this morning an hour to dive into your code and fixed it by changing two lines, let me share with you:

1. First change is did was to remove the `data.parentAttachedToMenu` from the `disabled` condition here:
[cod

[2022-09-19 11:29] ltsNotMike commented on #232
Added to the backlog.

1. Add an option to disable the propagation of `menuAttached` property to nested elements.
2. Propagation should be enabled by default, not to conflict with older versions.
3. User can edit the option both in the config file and on the Settings page.

[2022-09-21 06:28] cyp3rius commented on #277
Released as part of version `2.2.2`.

[2022-09-21 06:28] #277 closed

[2022-09-21 06:28] cyp3rius commented on #232
Released as part of version `2.2.2`.

[2022-09-21 06:28] #232 closed

[2022-09-22 18:18] nimame opened #283 "Save button remains inactive after editing navigation config"
I was able to create my navigation structure in the UI Navigation tab that this plugin adds to Strapi admin. However, when I make changes to my navigation (adding new navigation items or changing existing ones) the "Save" button remains inactive, so I cannot save my changes.

Plugin version: 2.2.1
Strapi version: 4.3.8

[2022-09-22 18:32] cyp3rius commented on #283
@nimame We recommend to use version`2.2.2` where this issue being fixed.

[2022-09-23 12:52] boazpoolman opened #284 "What's the difference between this plugin and strapi-plugin-menus?"
Not sure if this is the right place to ask.
But I was wondering what is the difference between this plugin and the [strapi-plugin-menus](https://github.com/mattmilburn/strapi-plugin-menus)?

[2022-09-23 19:22] nimame commented on #283
Thank you @cyp3rius. I upgraded to `2.2.2` but still get the same behavior. Now I also get a warning message when navigating to the "UI Navigation" tab: "Warning: Relations provided in some items are incorrect". I don't know in what way relations are incorrect. Any other suggestions?

[2022-09-26 07:07] ltsNotMike commented on #283
@nimame Do you have any internal items in your navigation? If so check if every item has a proper related field provided. This error is displayed when for some reason one of the navigation items doesn't have a related field but should have one. If this isn't the case in your navigation I will investigate further this behaviour.

[2022-09-26 07:55] tranlehaiquan commented on #284
Both plugins give us the same feature but, Strapi-plugin-menus is different. You can use it an feel it youself.

[2022-09-26 08:01] ltsNotMike commented on #284
Hello @boazpoolman
There are a lot of subtle differences but both plugins are high-quality solutions for navigation building.

[2022-09-29 18:51] nimame commented on #283
@ltsNotMike yes all navigation items where "Navigation item type" is "internal source" have a content-type and entity selected. I can't find anything looking suspicious. Your help is much appreciated.

[2022-10-17 08:25] ltsNotMike commented on #284
Closing due to lack of response. Please reopen if needed

[2022-10-17 08:25] #284 closed

[2022-10-17 08:27] #283 closed

[2022-10-17 08:28] ltsNotMike commented on #280
Closing due to lack of response. Please reopen if needed.

[2022-10-17 08:28] #280 closed

[2022-10-18 00:23] skyclb opened #285 "Error when parent is not menu attached but has children that are with plugin option cascade disabled"
Found a bug in the plugin option `Cascade menu attached` when `enabled`. It does not occure when a parent item is not menu attached but its childrens are. Only if you add another level of childrens to the menu attached children like in the below case, the error appears.

Example
- Parent (menuAttached: false)
  - Children (menuAttached: true)
    - Another Children (menuAttached: false)

[code]

E

[2022-10-31 09:17] plcdnl opened #287 "Cannot query field \"renderNavigation\" on type \"Query\"."
Although I followed the procedure described in the FAQ, I keep getting the following error: `Cannot query field \"renderNavigation\" on type \"Query\".`

This is my `config/plguin.js` file:
[code]

[2022-11-01 06:10] #287 closed

[2022-11-01 06:12] plcdnl commented on #287
the file should have been called `plugins.js`

[2022-11-08 00:04] doseofted opened #289 "Plugin Permissions Cannot Be Toggled for Non-Administrators"
It appears that [the role settings for the Navigation plugin](https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation#mandatory-permissions) are disabled in the administration dashboard settings as a Super Admin. Is this a bug or are there additional steps needed to toggle this setting on (such as configuring the plugin through code)?

![Screenshot from 2022-11-07 19-03-42](https://user-

[2022-11-08 01:19] doseofted commented on #289
It appears that this is not an issue with the plugin but a [limitation of Strapi's community edition](https://docs.strapi.io/user-docs/latest/users-roles-permissions/configuring-administrator-roles.html#configuring-administrator-roles) (see caution note on linked page). It would be great to let editors have access to the navigation plugin by default though.

[2022-11-08 01:19] #289 closed

[2022-11-08 09:34] maximelebreton commented on #152
Hello @ltsNotMike, and thanks for your plugin!

But same problem here, I configured the plugin to populate `Title` as **Name** field, and `Slug` as **Path** field, and it doesn't populate the fields when the entity is selected, and when I try to save, I can't because the **URL** field is required...

The excepted behaviour is if you choose to populate the **Name** and **Path** fields, when you cre

[2022-11-08 16:40] ltsNotMike commented on #152
Hi @maximelebreton,
Nice to hear that you enjoy the plugin. I will try to improve this feature when I'll find some time. Could you describe the steps to reproduce this behavior in other words? I'm not sure I understand the _before and after configuration_.

[2022-11-16 16:28] thongbn opened #290 "ER_LOCK_DEADLOCK: Deadlock found when trying to get lock; try restarting transaction"
Hi team, i got this problem when using strapi 4.4.7 and 4.5.0, but do not now what is it.
My db is: mariadb:10.7.3

UPDATE
  `navigations_localizations_links` as a,
  (
    SELECT `id`, ROW_NUMBER() OVER (PARTITION BY `navigation_id` ORDER BY `navigation_order`) AS src_order
    FROM `navigations_localizations_links`
    WHERE `navigation_id` = 1
  ) AS b
SET `navigation_order` = b.src_order
WHERE

[2022-11-24 10:53] maximelebreton opened #291 "How to call the api from Strapi? (strapi.db.query or strapi.entityService)"
Hello, and thank you for your work on this plugin!

I would like to call the **navigation api** from a **Strapi controller**.

What is the **equivalent** of this public call `http://localhost:1337/api/navigation/render/main-navigation` if I want to call it from a strapi controller?

I suppose it is something like this but I can't find any documentation:
[code]

Thanks!

[2022-11-24 11:04] cyp3rius commented on #291
@maximelebreton  that's probably what you're looking for:

https://github.com/VirtusLab-Open-Source/strapi-plugin-navigation/blob/master/server/controllers/client.ts#L12

You can directly call the service method used in this controller.

[2022-11-24 11:13] maximelebreton commented on #291
thanks @cyp3rius, could you provide a little example?

[2022-11-24 11:16] cyp3rius commented on #291
like that:

`strapi.plugin('navigation').service('client').render('main-navigation')`

[2022-11-24 11:29] maximelebreton commented on #291
Thanks @cyp3rius, but I tried `await strapi.plugin('navigation').service('client').render('main-navigation')  `, and I have a `"NotFoundError: Entity not found"`...

(and the "main-navigation" entity exist because I have data when I call `http://localhost:1337/api/navigation/render/main-navigation`)

[2022-11-24 11:34] maximelebreton commented on #291
@cyp3rius ok it's working with:
[code]

[2022-11-24 11:34] maximelebreton commented on #291
thanks a lot for your time @cyp3rius!

[2022-11-24 11:34] #291 closed

[2022-11-24 12:46] thongbn commented on #290
I think it got problem in i18n. Everytime i turn on i18n in navigation, add a language then navigate back to Navigation UI got deadlock, still happend in local.

[2022-11-29 09:22] Th3vanger commented on #290
yes we have the same error

[2022-11-29 09:31] cyp3rius commented on #290
Investigating

[2022-11-29 16:37] LePulsar commented on #290
Same for me... Once I active i18n on the navigation parameters it breaks.

[2022-11-30 14:13] thongbn commented on #290
Seem it is a bug in core of strapi, i've post a request here [,](https://github.com/strapi/strapi/issues/14937) . Waiting for new release